{% extends 'index.twig' %}

{% block localstyles %}
.homepage-annonce h1 {
  margin-top: 0;
  font-size: 3em;
}

.homepage-annonce h2 {
  font-size: 2em;
}
{% endblock %}

{% setcontent accueil = "accueil" returnsingle %}

{% block poster %}
  <div class="crop2">
    <img class="crop-content" src="{{ asset(accueil.annonce_image, "files") }}" />
  </div>
{% endblock %}

{% block annonce %}
    <h1>{{ accueil.annonce_titre }}</h1>
    <h2>{{ accueil.annonce_sous_titre }}</h2>
    <p>
      <a class="button" href="{{ accueil.annonce_lien }}">
        {{ accueil.annonce_lien_texte is not empty
          ? accueil.annonce_lien_texte
          : "En savoir plus" }}
      </a>
    </p>
{% endblock %}
