{% extends 'index.twig' %}

{% block localstyles %}
{% include "dist/css/homepage.reseau.css" %}
{% endblock %}

{% block poster %}
  <div class="crop3">
  <img class="crop3-content" style="object-fit: cover" src="/theme/doc-cevennes-2018/img/new_cevennes_bg_texte.jpg"
    alt="Festival international du documentaire Lasalle en Cévennes - 17e édition, du 9 au 12 mai 2018" srcset="
    /theme/doc-cevennes-2018/img/new_cevennes_bg_texte.jpg 1600w,
    /theme/doc-cevennes-2018/img/new_cevennes_bg_texte_800.jpg 800w,
    /theme/doc-cevennes-2018/img/new_cevennes_bg_texte_400.jpg 400w" />

  </div>
{% endblock %}

{% block annonce %}
{% endblock %}
