{% extends 'index.twig' %}

{% block localstyles %}
{% include "dist/css/homepage.reseau.css" %}
{% endblock %}

{% block poster %}
  <div class="crop3">
  <img class="crop3-content" src="/theme/doc-cevennes-2018/img/corniche-des-cevennes.jpg" srcset="
    /theme/doc-cevennes-2018/img/corniche-des-cevennes.jpg 1500w,
    /theme/doc-cevennes-2018/img/corniche-des-cevennes_800.jpg 800w,
    /theme/doc-cevennes-2018/img/corniche-des-cevennes_400.jpg 400w" />

  </div>
{% endblock %}

{% block annonce %}
    <h1>Réseau DOC-Cévennes</h1>
    <h2>Première séance le <span class="placeholder-content">##</span> avril 2018 à <span class="placeholder-content">######</span></h2>
    <p>
      <a class="button" href="/reseau/seances">Voir les séances</a>
    </p>
{% endblock %}
