{% extends 'index.twig' %}

{% block localstyles %}
{% include "fonts/aaargh.css" %}
</style>
<style>
{% include "dist/css/festival.accueil.css" %}
</style>
{% endblock %}

{% block poster %}
  <div class="crop3">
    <video class="crop3-content teaser video" style="display: none" loop muted>
      <source src="{{ asset('ba-2022-web-mute.m4v', 'files') }}" type="video/mp4" />
    </video>
    <img class="crop3-content teaser fallback" style="object-fit: cover" src="{{ asset('ba-2022-placeholder.jpg', 'files') }}" />
    <script>
    window.addEventListener("DOMContentLoaded", function () {
      var video = document.querySelector(".teaser.video");
      var img = document.querySelector(".teaser.fallback");

      if (video && img) {
        video.style.display = "none";

          video.addEventListener("canplaythrough", function (event) {
            if (img) {
              img.style.display = "none";
            }
            video.style.display = "initial";

            if (window.innerWidth > 500) {
              video.play();
            }
          });

        var clickEvent = function (event) {
          if (!video.paused) {
            video.pause();
          } else {
            video.play();
          }
        };

        video.addEventListener("click", clickEvent);

        if (document.querySelector(".homepage-annonce")) {
          document.querySelector(".homepage-annonce").addEventListener("click", clickEvent);
        }

        if (window.innerWidth > 500) {
          video.load();
        }
      }
    });
    </script>
  </div>
{% endblock %}

{% block annonce %}
<div class="annonce-festival">
  <h1 class="accueil-intro__heading">
    <div class="accueil-intro__l-festival">Festival</div>
    <div class="accueil-intro__l-inter-docu">international du documentaire</div>
    <div class="accueil-intro__l-lasalle">Lasalle en Cévennes</div>
    <div class="accueil-intro__l-18e">22<sup>e</sup> édition</div>
    <div class="accueil-intro__l-dates">Rendez-vous du 17 au 20&nbsp;mai&nbsp;2023</div>
  </h1>
  <p class="center">
    {% if app.config.get("general/cacher_programmation_festival") %}
      {% if app.config.get("general/inscriptions_ouvertes") %}
      <a class="accueil-intro__programmation button"
        href="/festival-de-lasalle/formulaire-inscription">
        Les inscriptions sont ouvertes
      </a>
      {% else %}
      <a class="accueil-intro__programmation button"
        href="/festival-de-lasalle/programmation">
        Programmation en cours
      </a>
      {% endif %}
    {% else %}
    <a class="accueil-intro__programmation button"
      href="/festival-de-lasalle/programmation">
      Voir la programmation
    </a>
    {% endif %}
  </p>
</div>
{% endblock %}
