{% extends "sections/festival/base.twig" %}

{% setcontent record = "fest_pages/archives" %}

{% block htmlclass %}{{ parent() }} archives{% endblock %}

{% block intro %}
  <h1>{{ record.title }}</h1>
  <div class="group">
    <nav class="nav-archives">
      {% for annee, index in archives %}
      <a class="nav-archives__item" href="/festival-de-lasalle/archives/{{ annee }}">{{ annee }}</a>
      {% endfor %}
    </nav>
  </div>
{% endblock %}

{% block main %}
{% if annee %}
<div class="archives">
    <iframe class="archives-iframe" src="/archives/{{ annee }}/{{ archives[annee] }}" scrolling="yes"
      style="width:100%"></iframe>
</div>
{% endif %}
{% endblock %}
