{% extends "sections/festival/base.twig" %}

{% block main %}
  {% setcontent communique = "fest_pages/annulation" %}

  <p class="center">
    <a href="{{ asset("img/affiche-2020.jpg", "theme") }}">
      <img src="{{ asset("img/affiche-2020.jpg", "theme") }}"
      style="max-height: 300px; max-height: 65vh; width: auto" />
    </a>
  </p>
  {{ communique.contenu }}

{% endblock %}
