{% extends "partials/_master.twig" %}

{% block localstyles %}
  .contact-header {
    font-size: 1.5em;
    font-weight: bold;
  }
{% endblock %}

{% block main %}
    {% setcontent contact = "contact" limit 1 returnsingle %}

    <header class="contact-header">{{ contact.texte }}</header>

    <p>Par courriel : <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>

    <p>
      Par téléphone :
      <a href="tel:{{ contact.tel1 }}">{{ contact.tel1 }}</a>
      {% if contact.tel2 is not empty %} /
      <a href="tel:{{ contact.tel2 }}">{{ contact.tel2 }}</a>
      {% endif %}
    </p>
{% endblock %}
