{% extends "sections/festival/base.twig" %}

{% block intro %}
{% endblock %}

{% block main %}
<h1 class="download-page__title">{{ record.title }}</h1>
<div class="festival-page download-page">
    {{ record.contenu }}
</div>
{% endblock %}
