{% extends 'partials/_master.twig' %}

{% block htmlclass %}homepage{% endblock %}

{# On redéfinit body au lieu de main pour ne pas avoir les widgets et footer #}
{% block body %}
    <header class="homepage-title progressive">
      <div class="homepage-title__left">
        <!-- <a class="homepage-title__asso" href="/association-champ-contrechamp">
          <img class="homepage-title__logo-ccc"
            src="{{ asset('src/svg/logo-ccc.svg', 'theme') }}"
            alt="Champ-Contrechamp" />
        </a> -->
      </div>

      <div class="homepage-title__center">
        <h1 class="homepage-title__heading">
          <img class="homepage-title__logo"
            src="{{ asset('src/svg/logo-white.svg', 'theme') }}"
            alt="{{ config.get('general/sitename') }}"
            width="400" />
        </h1>
      </div>

      <div class="homepage-title__right">
        <a class="homepage-title__fb" href="https://www.facebook.com/DOC.Cevennes/"
          target="_blank" title="Suivez-nous sur Facebook">
          <img class="homepage-title__fb-logo"
            src="{{ asset('src/svg/facebook_white.svg', 'theme') }}"
            alt="Suivez-nous sur Facebook"
            width="40" />
        </a>
      </div>
    </header>

    <section class="homepage-intro">
      <div class="homepage-poster">
        {% block poster %}
        {% endblock %}
      </div>
      <div class="homepage-annonce">
        {% block annonce %}
        {% endblock %}
      </div>
      <div class="homepage-association">
        <a href="/association-champ-contrechamp">Association Champ-Contrechamp</a>
      </div>
    </section>

    <nav class="homepage-sections group">
        {% setcontent sections = "sections" %}

        {% set images = {
          festival: ["/theme/doc-cevennes-2018/img/accueil-festival.jpg", "
            /theme/doc-cevennes-2018/img/accueil-festival.jpg 425w,
            /theme/doc-cevennes-2018/img/accueil-festival_200.jpg 200w"],
          reseau: ["/theme/doc-cevennes-2018/img/corniche-des-cevennes.jpg", "
            /theme/doc-cevennes-2018/img/corniche-des-cevennes.jpg 1500w,
            /theme/doc-cevennes-2018/img/corniche-des-cevennes_800.jpg 800w,
            /theme/doc-cevennes-2018/img/corniche-des-cevennes_400.jpg 400w"],
          production: ["/theme/doc-cevennes-2018/img/doc-cevennes-hollywood.jpg", "
            /theme/doc-cevennes-2018/img/doc-cevennes-hollywood.jpg 1024w,
            /theme/doc-cevennes-2018/img/doc-cevennes-hollywood_600.jpg 600w,
            /theme/doc-cevennes-2018/img/doc-cevennes-hollywood_300.jpg 300w"],
        } %}

        {% for section in sections %}
        {% if not section.hide_in_homepage %}
            <div class="homepage-section {{ section.get('route_prefix') }}">
                {% if images[section.get('route_prefix')] is defined %}
                <img class="homepage-section__image"
                  src="{{ images[section.get('route_prefix')]|first }}"
                  srcset="{{ images[section.get('route_prefix')]|last }}">
                {% endif %}
                <a class="homepage-section__link" href="/{{ section.get('slug') }}">
                    <span class="homepage-section__text">{{ section.get('name') }}</span>
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </nav>

    {% setcontent record = "accueil/1" %}

    <div class="homepage-text">
      {{ record.texte }}
    </div>

    <div class="footer-wrapper">
      {{ include('partials/_boring-menu.twig') }}
    </div>

{% endblock body %}
