{% extends "partials/_master.twig" %}

{% block localstyles %}
{% endblock %}

{% block main %}
    {% setcontent mentions_legales = "mentions_legales" limit 1 returnsingle %}

    {{ mentions_legales.contenu }}
{% endblock %}
