{% extends 'partials/_master.twig' %}

{% block main %}

    <h1>Page introuvable</h1>

    <p>Cette adresse ne correspond à aucune page du site.</p>
    <p>Peut-être s’agit-il d’une page de l’ancien site qui ne serait pas redirigée correctement ?<br />
    Merci de <a href="/contact">nous en informer</a> si vous le pouvez.</p>

    <a href="/">» Retourner à l’accueil</a>

{% endblock main %}
