{% extends "sections/association/base.twig" %}

{% block localstyles %}
  .main-content {
    background: #fff;
    max-width: 100%;
  }
{% endblock %}

{% setcontent record = "asso_pages/partenaires" %}

{% block intro %}
{% endblock %}

{% block main %}
    <h1>{{ record.title }}</h1>
    {{ record.contenu | raw }}

    {% setcontent collectivites = "partenaires" where { association: "collectivites" } %}
    {% include "partials/_partenaires.twig" with {partenaires: collectivites} %}

    {% setcontent medias = "partenaires" where { association: "medias" } %}
    {% include "partials/_partenaires.twig" with {partenaires: medias} %}

    {% setcontent autres = "partenaires" where { association: "autres" } %}
    {% include "partials/_partenaires.twig" with {partenaires: autres} %}

    {% setcontent mecenes = "partenaires" where { association: "mecenes" } %}
    {% include "partials/_partenaires.twig" with {partenaires: mecenes} %}
{% endblock %}
