{% extends "sections/reseau/base.twig" %}

{% block localstyles %}
  .main-content {
    background: #fff;
  }

  .small {
    font-size: 0.8em;
    color: gray;
    padding-left: .5em;
  }
{% endblock %}

{% setcontent record = "reso_pages/partenaires" %}

{% block intro %}
    <h1>{{ record.title }}</h1>
{% endblock %}

{% block main %}
    {{ record.contenu | raw }}

    {% setcontent collectivites = "partenaires" where { reseau: "collectivites" } %}
    {% include "partials/_partenaires.twig" with {partenaires: collectivites} %}

    {% setcontent medias = "partenaires" where { reseau: "medias" } %}
    {% include "partials/_partenaires.twig" with {partenaires: medias} %}

    {% setcontent autres = "partenaires" where { reseau: "autres" } %}
    {% include "partials/_partenaires.twig" with {partenaires: autres} %}

    {% setcontent mecenes = "partenaires" where { reseau: "mecenes" } %}
    {% include "partials/_partenaires.twig" with {partenaires: mecenes} %}
{% endblock %}
