{% extends "sections/festival/base.twig" %}

{% block localstyles %}
  .main-content {
    background: #fff;
    max-width: 100%;
  }
{% endblock %}

{% setcontent page_partenaires_festival = "fest_pages/partenaires" %}
{% block intro %}
    <h1>{{ page_partenaires_festival.title }}</h1>
{% endblock %}

{% block main %}
    {{ page_partenaires_festival.contenu | raw }}

    {% setcontent collectivites = "partenaires" where { festival: "collectivites" } %}
    {% include "partials/_partenaires.twig" with {partenaires: collectivites} %}

    {% setcontent medias = "partenaires" where { festival: "medias" } %}
    {% include "partials/_partenaires.twig" with {partenaires: medias} %}

    {% setcontent autres = "partenaires" where { festival: "autres" } %}
    {% include "partials/_partenaires.twig" with {partenaires: autres} %}

    {% setcontent page_mecenes = "fest_pages/partenaires-mecenes" %}
    {% if page_mecenes %}
      {{ page_mecenes.contenu | raw }}
    {% endif %}

    {% setcontent mecenes = "partenaires" where { festival: "mecenes" } %}
    {% include "partials/_partenaires.twig" with {partenaires: mecenes} %}

    {% setcontent page_donateurs = "fest_pages/partenaires-donateurs" %}
    {% if page_donateurs %}
      {{ page_donateurs.contenu | raw }}
    {% endif %}
{% endblock %}
