@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background-image:url(images/cevennes_bleu.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
/* CSS Document */

.conteneur {
	height: auto;
	width: 960px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	position: relative;
	background-color:#a6bbd6;
}
.cercle {padding-left: 340px;
padding-top: 60px;
z-index:10;
}
.affiche {
	float: left;
	height: auto;
	width: 390px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top:50px;
}


.contenu {
	margin: 0px;
	float: left;
	height: auto;
	width: 540px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	font-size: 18px;
	color: #F6C;
}
#fin {padding-top:0px;
	width: 960px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: -2pxpx;
	position: relative;
	clear:both;
	z-index:1}

p {
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-size: 18px;
	color: #F60;
}


a {
	text-transform: none;
	color: #666;
	font-weight: bolder;
	text-decoration: none;
}
a:hover {
	color: #F3C;
	
	
}


.soustitrebleue {
	font-weight: bold;
	color: #3a2e5a;
	font-style: italic;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 6px;
}

.texte_a_gauche {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: left;
}
.titrerose {
	font-weight: bold;
	color: #C09;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-style: italic;
}
.textegris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: justify;
	font-style: normal;
	color: #4d4747;
}
.textegrisCentre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #919191;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: center;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.texte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: justify;
}
.textegris2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #919191;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: justify;
}
.interligneplusgrand {
	line-height: 20px;
}
.conteneur .menu #accueil a {
	color: #3a2e5a;
}
.conteneur .menu #films a {
	color: #44A12B;
}
.conteneur .menu #theme a {
	color: #C8091E;
}
.conteneur .menu #intervenants a {
	color: #e2007a;
}
.conteneur .menu #rencontres a {
	color: #f29400;
}
.conteneur .menu #pratiques a {
	color: #60368A;
}
.conteneur .menu #partenaires a {
	color: #E95E24;
}
.conteneur .menu #association a {
	color: #804000;
}

.conteneur .menu #archives a {
	color: #707173;
}
.conteneur .menu #festival a {
	color: #FF3333;
}
.conteneur .menu #presse a {
	color: #004000;
}
.conteneur .menu #liens a {
	color: #8080FF;
}
#droite {
	float: right;
	width: 250px;
}
#gauche {
	float: left;
	width: 250px;
	margin: 0px;
	padding: 0px;
}
#contenusansmarges {
	margin: 0px;
	padding: 0px;
}

#souscontenu {
	margin: 0px;
	padding: 0px;
	clip: rect(auto,auto,0px,auto);
	height: auto;
	width: auto;
}
#souscontenuliens {
	margin: 0px;
	padding: 0px;
	clip: rect(auto,auto,0px,auto);
	height: 600px;
	width: auto;
	background-image: url(images/liensback.gif);
	background-repeat: no-repeat;
}
#accueil {
	color:#3a2e5a;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	}
#calageaccueil {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: auto;
}
.conteneur .contenu #calageaccueil p .mentionslegales {
	font-size: x-small;
}

#theme {
	color: #c8091e;
}
#festival {
	color: #FF3333;
}


#films {
	color: #44a12b;
}
#intervenants {
	color: #e2007a;
}
#rencontres {
	color: #f29400;
}
#pratiques {
	color: #60378a;
}
#liens {
	color: #8080ff;
}
#archives {
	color: #707173;
}
#partenaires {
	color: #e95e24;
}

#presse {
	color: #004000;
}
#association {
	color: #804000;
}

#contact {
	color: #000080;
}
#bandeau {
	margin: 0px;
	padding: 0px;
	height: 120px;
	width: 960px;
	color: #E6E6E6;
	border: 1px none #CCC;
}
#bandeaubas {
	margin: 0px;
	padding: 0px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
#annéearchives {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
a.infobulle em {display:none;}



a.infobulle:hover { border: 0;position: relative;z-index: 500;text-decoration:none;}


a.infobulle:hover em {
	font-style: italic;
	display: block;
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 5px;
	color: #000;
	border: 1px solid #bbb;
	width:200px;
	font-size: 12px;
	background-color: #ebebed;
} 
#annéearchives h2 strong {
	color: #C0C0C0;
}
.conteneur .menu .copains img {
	font-family: Arial, Helvetica, sans-serif;
}
.conteneur .menu .copains .mentionslegales a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: italic;
	color: #999;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	padding: 0px;
}
.bientot {
	padding: 0px;
	margin-top: 85px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.textegrisadroite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #919191;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
}
.titrerose2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ee4095;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: justify;
	font-weight: bold;
}
.titrebleu2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3a2e5a;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: justify;
	font-weight: bold;
}
.textegras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: justify;
	font-weight: bold;
}
.intervenants {
	color: #e95e24;
}
.titregros {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #F60;
	
}
.date {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #F90;
}
.horairefilm {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #333;
}
.attendrelesinfos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-style: normal;
	line-height: normal;
	font-weight: 900;
	color: #F0C;
}
image_index { text-align: center }

h1 {font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #444;
}
.titre2 {font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #444;
}
.titre3 {font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #555;
}
.texteindex {font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #333;
}
.textemini {font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #333;
}



#opta {padding-left: 150px;
margin-top:-20px; 
list-style-type:none;
line-height:25px}

}
p{margin:1em,0,0,0}
