<nav class="boring-menu">
  <a href="https://www.facebook.com/DOC.Cevennes/"
    class="boring-menu__item facebook" target="_blank" title="Suivez-nous sur Facebook">
    <img class="homepage-title__fb-logo"
      src="{{ asset('src/svg/facebook_white.svg', 'theme') }}"
      alt="Suivez-nous sur Facebook" width="20" />
  </a>
  <a href="/contact" class="boring-menu__item contact">Contact</a>
  <a href="/mentions-legales" class="boring-menu__item">Mentions légales</a>
</nav>
