<!-- Footer -->
{% include "partials/_root-menu.twig" %}

{% include "partials/_boring-menu.twig" %}
<!--
<footer>

    <form method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain">
        <input type="search" value="{{ search|default() }}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search" >
        <button type="submit">{{ __('general.phrase.search') }}</button>
    </form>

    {{ widgets('footer') }}

</footer>
-->
