{% set in_section = false %}
{% set data = null %}

{% setcontent sections = 'sections' %}
{% for section in sections %}
  {% if app.request.get('_route') starts with section.get('route_prefix') %}
    {% set in_section = true %}
    {% set data = {
        section_slug: section.get('slug'),
        section_name: section.get('name'),
        section_menu: section.get('menu'),
    } %}
  {% endif %}
{% endfor %}


<!-- Header bar -->
<header role="navigation" class="main-nav">
  <a title="Retour à l’accueil" aria-label="Retour à l’accueil" class="main-nav__homepage" href="{{ path('homepage') }}">
    <img src="{{ asset('src/svg/logo-grays.svg', 'theme') }}"
      alt="{{ config.get('general/sitename') }}"
      class="main-nav__logo"
      width="200" height="30" /><!-- Dimensions 857×130 = ratio 6,592307692 -> 200×30 -->
  </a>

  {% if in_section %}
    {% include 'partials/_header-section.twig' with data %}
  {% else %}
    <div class="main-nav__no-menu">&nbsp;</div>
  {% endif %}

</header>
