<a class="main-nav__section" href="/{{ section_slug }}">
  {{ section_name }}
</a>

{% if section_slug == "festival-de-lasalle" %}
  {% setcontent english = "fest_pages/in-english" %}
  <a class="main-nav__english-link
    {%- if english|current %} is-active{% endif %}" href="{{ english.link }}">{{ english.title }}</a>
{% endif %}

{% if section_menu %}
  {{ menu(section_menu, template = 'partials/_menu_section.twig') }}
{% else %}
  <div class="main-nav__no-menu">&nbsp;</div>
{% endif %}
