<!DOCTYPE html>
<html lang="{{ htmllang() }}" class="{% block htmlclass %}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ config.get('general/sitename') -}}
      {%- if record is defined and record.title is not empty and record.contenttype.slug != "accueil" %} | {{ record.title|striptags }}{% endif -%}
    </title>
    {% if app.debug %}
    <link href="{{ asset('fonts/titillium.css', 'theme') }}" rel="stylesheet" />
    <style>.sf-minitoolbar, .sf-toolbarreset { bottom: 5rem !important; }</style>
    {% else %}
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700" rel="stylesheet" />
    {% endif %}
    <link rel="stylesheet" href="{{ asset('dist/css/main.css', 'theme') }}" />
    <style>{% block localstyles %}{% endblock %}</style>
  </head>
  <body>
    <div class="site-container">

    {% block body %}

      <div class="header-wrapper">
        <div class="header-content">
          {{ include('partials/_header.twig') }}
        </div>
      </div>

      <div class="intro-wrapper">
        {{ widgets('main_top') }}

        {% if block('intro') is not empty %}
        <div class="intro-content">
          {% block intro %}{% endblock %}
        </div>
        {% endif %}

      </div>

      <div class="main-wrapper">
        <div class="main-content">
          {% block main %}
          {% endblock main %}
        </div>

        {{ widgets('main_bottom') }}
      </div>

      <div class="footer-wrapper">
        {{ include('partials/_footer.twig') }}
      </div>

    {% endblock body %}

    </div>
  </body>
</html>
