<nav class="main-nav__menu">
{% for item in menu %}
  <a class="main-nav__menu-item {{ item.class|default('') }}
    {{- item|current ? ' is-active' -}}
    {{- loop.first ? ' is-first' -}}
    {{- loop.last ? ' is-last' -}}"
    href="{{ item.link }}"
    title="{{ item.title|default('')|escape }}">
      {{ item.label|default('-') }}
    </a>
{% endfor %}
</nav>
