<ul class="partenaires">
  {% for partenaire in partenaires %}
    <li>
      {% set has_website = (partenaire.website and true) %}
      {% if has_website %}<a href="{{ partenaire.website }}" target="_blank">{% endif %}
        {% if partenaire.logo %}
          <img src="{{ image(partenaire.logo, 200, 0) }}" title="{{ partenaire.nom }}" alt="{{ partenaire.nom }}" />
        {% else %}
          {{ partenaire.nom }}
        {% endif %}
      {% if has_website %}</a>{% endif %}
    </li>
  {% endfor %}
</ul>