<nav class="root-menu">
  {#
      foreach section in sections (contenttype)
          <a href="/{{section.slug}}">{{section.short_name}}</a>
  #}
  {% setcontent sections = 'sections' %}
  {% for section in sections %}

    {% set active = (app.request.get('_route') starts with section.get('route_prefix')) %}

    <a class="root-menu__item
      {{- active ? " is-active" : "" }} {{ section.get('route_prefix') }}" href="/{{ section.get('slug') }}">
      {{ section.get('short_name') }}
    </a>
  {% endfor %}
</nav>
