<div class="annonce-festival">
  <h1 class="accueil-intro__heading">
    <div class="accueil-intro__title">22<sup>e</sup> édition – Festival de Lasalle</div>
    <div class="accueil-intro__dates">17 mai → 20 mai 2023</div>
  </h1>
  <p class="center">
    {% if app.config.get("general/cacher_programmation_festival") %}
      {% if app.config.get("general/inscriptions_ouvertes") %}
      <a class="accueil-intro__programmation button"
        href="/festival-de-lasalle/formulaire-inscription">
        Les inscriptions sont ouvertes
      </a>
      {% else %}
      <a class="accueil-intro__programmation button"
        href="/festival-de-lasalle/programmation">
        Programmation en cours
      </a>
      {% endif %}
    {% else %}
    <a class="accueil-intro__programmation button"
      href="/festival-de-lasalle/programmation">
      Voir la programmation
    </a>
    {% endif %}
  </p>
</div>
<!-- SEO : Il serait bon d’avoir « Festival international
  du documentaire de Lasalle en Cévennes » quelque part -->
