body {
	border-style: none;
	border-width: 0px;
	padding: 0;
	font-weight: lighter;
	color: #FFF;
	font-size: 1em;
	font-style: normal;
	text-transform: none;
	margin: 10px;
}
#conteneur {
	border: 1px solid #c0c0c0;
	margin: auto;
	position: relative;
	width: 800px;
	background-color: #000000;
	height: auto;
}
#header {
height: 150px;
background-color: #000000;
}

#centre {
	background-color: #000000;
	margin-left: 150px;
	margin-right: 400px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#gauche {
position: absolute;
left: 0;
width: 150px;
margin-top: 0px;
}

#droite {
	position: absolute;
	right: 0;
	width: 150px;
	margin: 0px;
	padding: 0px;
}
#pied {
	background-color: #000000;
	text-align: justify;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: auto;
	width: auto;
}
#conteneur #bas {
	text-align: center;
	width: 400px;
	margin-left: 150px;
}
.citation {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #CCC;
}
.italic1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	font-weight: lighter;
	text-transform: none;
	color: #CCC;
}
.courant {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #CCC;
	text-align: justify;
}
.courantjaune {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #FC3;
	text-align: justify;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #ffcc33;
	text-align: center;
	font-size: 30px;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #FC3;
	padding: 0px;
	text-align: center;
	margin: 28px;
}

h2 {
	font-family: "Times New Roman",Times,serif;
	font-size: x-large;
	margin-left: 0px;
	font-weight: lighter;
	padding: 0px;
	margin-top: 0px;
}
h5 {
font-family: Verdana,Arial,sans-serif;
font-size: small;
font-weight: normal;
font-style: normal;
text-align: justify;
line-height: 1.3em;
margin-left: 7px;
margin-right: 7px;
}
p {
	margin-left: 2px;
	margin-right: 2px;
	font-style: normal;
}
ul {
list-style-type: none;
position: static;
list-style-position: inside;
margin-left: -27px;
padding-left: 33px;
}
.mini {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9px;
	color: #CCC;
}
leg {
font-size: xx-small;
color: #ffcc33;
font-weight: normal;
margin-top: -7px;
}
.photozenfants {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 150px;
	width: 200px;
	border: 1px solid #999;
}
.lieu {
	padding: 0px;
	float: left;
	height: 150px;
	width: 140px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.titrespectzenfants {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FC3;
}

div#gauche {
height: auto;
list-style-type: none;
list-style-position: inside;
}
div#gauche li {
	margin: 0 0 10px 5px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 180%;
	list-style-type: none;
	background-image: url(images/boutonhaut.jpg);
	background-repeat: no-repeat;
	font-size: medium;
	background-position: left center;
	color: #ffcc33;
	font-weight: normal;
	font-style: italic;
	list-style-position: inside;
}
div#gauche li a {
background-repeat: no-repeat;
width: 100%;
height: 100%;
text-decoration: none;
list-style-position: inside;
}
div#gauche li a:link {
color: #ffcc33;
}
div#gauche li a:visited {
color: #c8a050;
list-style-position: inside;
}
div#gauche li a:hover {
font-weight: normal;
color: #ff6600;
list-style-position: inside;
}
div#gauche li a:active {
margin: 0px 0px 10px;
height: 30px;
width: 120px;
font-family: Arial,Helvetica,sans-serif;
text-align: center;
line-height: 200%;
list-style-type: none;
background-color: transparent;
background-repeat: no-repeat;
color: red;
background-image: url(images/buttonface-down.jpg);
background-position: left center;
list-style-position: inside;
}
#conteneur #pied div p {
}
.recit {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #CCC;
	line-height: 1.5em;
}
.recitjaune {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	text-transform: none;
	color: #FC3;
}
.italic1jaune {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	font-weight: lighter;
	text-transform: none;
	color: #FC3;
}
.h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 200;
	color: #ffcc33;
	text-align: center;
	font-size: x-small;
}
.courant2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #CCC;
	text-align: justify;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: 15px;
	clear: left;
	height: auto;
	width: auto;
}
.photo {
	margin: 0px;
	padding: 0px;
	border: 1px solid #FC3;
}

#pied2 {
	height: auto;
	background-color: #000000;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font-style: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: 1px solid #999;
}
.description {
	margin: 5px;
	float: left;
	width: auto;
	border: 1px solid #999;
}
.citationjaune {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FC3;
}
