{% extends 'sections/festival/base.twig' %}

{% block intro %}
<h1 class="fest-prog-intro__title">La programmation du festival</h1>

{% set route = app.request.get("_route") %}
{% if not app.config.get("general/cacher_programmation_festival") %}
<nav class="fest-prog-intro__submenu">
  <a class="fest-prog-intro__submenu-item
    {{- route ends with 'seances_toutes' ? ' is-active' : '' }}" href="{{ mount_point }}/grille-horaire">Grille horaire</a>
  <a class="fest-prog-intro__submenu-item
    {{- route ends with 'films' ? ' is-active' : '' }}" href="{{ mount_point }}/films">Les films</a>
  <a class="fest-prog-intro__submenu-item
    {{- route ends with 'speciales' ? ' is-active' : '' }}" href="{{ mount_point }}/seances-speciales">Les séances spéciales</a>
  <a class="fest-prog-intro__submenu-item
    {{- route ends with 'lieux' ? ' is-active' : '' }}" href="{{ mount_point }}/lieux">Les lieux</a>
  <a class="fest-prog-intro__submenu-item
    {{- route ends with 'intervenants' ? ' is-active' : '' }}" href="{{ mount_point }}/intervenants">Les intervenants</a>
</nav>
{% endif %}
{% endblock %}

{% block main %}
{% endblock %}
