{% extends 'programmation/festival.base.twig' %}

{% block main %}
<div class="lieu">
  {% if lieu.image %}
  <div class="lieu__image">
    <img src="{{ lieu.image|thumbnail(350, 0) }}" alt="" />
  </div>
  {% endif %}

  <h1 class="lieu__nom">{{ lieu.nom }}</h1>

  {% if lieu.descriptif %}
  <div class="lieu__descriptif">
    {{ lieu.descriptif | raw }}
  </div>
  {% endif %}

  <h2>Séances</h2>
  {% if app.config.get("general/cacher_programmation_festival") %}
  <p>(Programmation en cours…)</p>
  {% elseif seances is empty %}
    <p class="lieu__aucune-seance">Aucune séance prévue pour l’instant.</p>
  {% else %}
    <ul class="lieu__seances">
      {% for seance in seances %}
      <li class="lieu__seance">
        {{ seance.horaire|fr_datetime }}&nbsp;:
        {% if seance.speciale_intitule %}
          {{ seance.speciale_intitule }}
        {% else %}
          {% for film in seance.films %}
          {% if films[film] is defined %}
            <a href="{{ mount_point }}/films#film-{{ films[film].slug }}">{{ films[film].titre }}</a>
            {%- if not loop.last %}, {% endif %}
          {% endif %}
          {% endfor %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="group"></div>
  {% if lieu.localisation
  and lieu.localisation.latitude is defined
  and lieu.localisation.latitude is not empty %}
  <h2 class="center">Localisation</h2>
  <div class="center">
    <iframe
      width="500"
      height="375"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key={{ config.get("general/google_maps_embed_api_key") }}&q={{ lieu.localisation.latitude }},{{ lieu.localisation.longitude }}" allowfullscreen>
    </iframe>
  </div>
  {% endif %}
</div>
{% endblock %}
