{% extends "programmation/festival.base.twig" %}

{% block main %}
{% if app.config.get("general/cacher_programmation_festival") %}
<p class="italic center smaller">(Programmation en cours…)</p>
{% else %}
<p class="italic center smaller">(Programmation non exhaustive, sous réserve de modifications)</p>

<section class="programmation-liste-films">
{% for seance in seances %}
  <article class="seance-speciale" id="seance-{{ seance.slug }}">
    <header class="seance-speciale__header">
      <h2 class="seance-speciale__titre">{{ seance.speciale_intitule }}</h2>
    </header>
    <section class="seance-speciale__texte">{{ seance.speciale_texte | raw }}</section>

    {% if seance.films is not empty %}
    {% for id_film in seance.films %}
        {% if films[id_film] is defined %}
          <div class="seance-speciale__film">
            <a class="italic" href="/festival-de-lasalle/programmation/films#film-
          {{- films[id_film].slug }}">{{ films[id_film].titre }}</a>
          </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if seance.horaire and seance.lieu %}
    <section class="prog-film__seances">
      <p class="prog-film__seance">
        {% if seance.horaire %}
        <span class="prog-film__horaire">{{ seance.horaire is empty ? ""
          : seance.horaire|fr_datetime|capitalize }}</span>
        {% endif %}
        {% if seance.lieu %}
        <span class="prog-film__lieu">{{ lieux[seance.lieu].nom ?? lieux[seance.lieu].commune }}</span>
        {% endif %}
        {% if seance.intervenants is not empty %}
        <span class="prog-film__intervenants">
          (en présence de
          {% for intervenant in seance.intervenants %}
            {% set id_intervenant = intervenant.getRenderedValue("intervenant") %}
            {% if intervenants[id_intervenant] is defined %}
              {% set personne = intervenants[id_intervenant] %}
              {%- if loop.last and loop.index > 1 %} et {% endif -%}
              {{ (personne.prenom ~ " " ~ personne.nom)|trim }}, {{ intervenant.getRenderedValue("role") }}
              {%- if not loop.last %}, {% endif -%}
            {% endif %}
          {%- endfor -%}
          )
        </span>{% endif %}
      </p>
    </section>
    {% endif %}
  </article>
{% endfor %}
{% endif %}
{% endblock %}
