{% extends "programmation/festival.base.twig" %}

{% block main %}

{% if app.config.get("general/cacher_programmation_festival") %}
<p class="italic center">(Programmation en cours…)</p>
{% else %}
  {% setcontent record = "fest_pages/programmation" %}
  {% if record %}
    {{ record.contenu | raw }}
  {% else %}
    <p>(Créer une page ayant pour permalien <code>fest_pages/programmation</code>)</p>
  {% endif %}
{% endif %}
{% endblock %}
