{% extends "programmation/festival.base.twig" %}

{% use "programmation/films.twig" %}

{% block main %}

{% if app.config.get("general/cacher_programmation_festival") %}
<p class="italic center smaller">(Programmation en cours…)</p>
{% else %}
<p class="italic center smaller">Programmation non exhaustive, sous réserve de modifications / <a href="#goto-liste-films">Aller à la liste des films</a></p>

<div style="position:relative;padding-top:max(60%,326px);height:0;width:100%;margin-bottom:2em"><iframe sandbox="allow-top-navigation allow-top-navigation-by-user-activation allow-downloads allow-scripts allow-same-origin allow-popups allow-modals allow-popups-to-escape-sandbox" allowfullscreen="true" style="position:absolute;border:none;width:100%;height:100%;left:0;right:0;top:0;bottom:0;" src="https://e.issuu.com/embed.html?d=lasalle-catalogue-2022&u=doc-cevennes-festivalinternationald"></iframe></div>

<a id="goto-liste-films"></a>
{{ parent() }}
{% endif %}
{% endblock %}
