{% extends "programmation/festival.base.twig" %}

{% block localstyles %}
.main-content {
  max-width: 100%;
}
{% endblock %}

{% block main %}

{% if app.config.get("general/cacher_programmation_festival") %}
<p class="italic center smaller">(Programmation en cours…)</p>
{% else %}
<p class="italic center smaller">(Programmation non exhaustive, sous réserve de modifications)</p>
<table class="grille -festival">
<thead>
  <tr>
    <th></th>
    {% for jour in jours %}
    <th class="grille__jour">{{ jour | fr_date }}</th>
    {% endfor %}
  </tr>
</thead>

{% for lieu, dates in grille %}
  <tr>
    <th class="grille__lieu">{{ lieux[lieu] is defined ? lieux[lieu].nom : "?" }}</th>

    {% for jour in jours %}
    <td class="grille__cellule date-{{ jour }}">
      {% if dates[jour] is defined %}
      {% set date = jour %}
      {% set seances = dates[jour] %}
        {% for seance in seances %}
          <div class="grille__seance">
            <div class="grille__horaire">{{ seance.horaire | fr_time }}</div>
            <div class="grille__films">
            {% if seance.free %}
              <span class="grille__gratuit">Entrée libre et gratuite</span>
            {% endif %}
            {% if seance.sourds_malentendants %}
              <span class="grille__sourds" aria-label="Séance accessible aux sourds et aux malentendants" title="Séance accessible aux sourds et aux malentendants">
                <img src="{{ asset("src/svg/sourds_s.svg", "theme") }}" width="12" height="13">
              </span>
            {% endif %}
            {% if seance.speciale_intitule %}
              <div class="grille__speciale">
                {% if seance.films is empty %}
                <a href="{{ mount_point }}/seances-speciales#seance-{{ seance.slug }}">{{ seance.speciale_intitule }}</a>
                {% else %}
                {{ seance.speciale_intitule }}
                {% endif %}
              </div>
            {% endif %}
            {% if seance.films is not empty %}
              {% for film in seance.films %}
                <div class="grille__film"><a href="{{ mount_point }}/films#film-{{ films[film].slug }}">{{ films[film].titre }}</a></div>
                {% if seance.speciale_intitule is empty %}
                <div class="grille__auteurs">{{ films[film].auteurs }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if seance.skype %}
              <span class="grille__visio">Rencontre en visioconférence</span>
            {% endif %}
            </div>
          </div>
        {% endfor %}
    {% endif %}
    </td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
