{% extends 'programmation/festival.base.twig' %}

{% block main %}
  <ul class="lieux group lieux--festival">
    {% for lieu in lieux %}
    <li>
      <a class="lieux__lieu" href="{{ mount_point }}/lieux/{{ lieu.slug }}"
       {%- if lieu.image %} style="background-image:url({{ lieu.image|thumbnail(360, 0) }})"{% endif %}>{{ lieu.nom }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
