{% block main %}
<section class="programmation-liste-films">
  {% for film in films %}
  <article class="prog-film" id="film-{{ film.slug }}">

    <header class="prog-film__header">
      <h2 class="prog-film__titre">{{ film.get("titre") }}</h2>
      {% if film.get("auteurs") %}<span class="prog-film__auteurs">{{ film.get("auteurs") }}</span>{% endif %}
    </header>

    <ul class="prog-film__infos">
      {% if film.get("annee") %}<li>{{ film.get("annee") }}</li>{% endif %}
      {% if film.get("duree") %}<li>{{ film.get("duree") }}&nbsp;min</li>{% endif %}
      {% if film.get("pays") %}<li>{{ film.get("pays") }}</li>{% endif %}
      {% if film.get("production") %}<li>{{ film.get("production") }}</li>{% endif %}
    </ul>

    <section class="prog-film__texte">{{ film.texte | raw }}</section>

    {% if film.images is not empty %}
    {% for image in film.images %}
      {% if image.title in image.filename %}
        {% set title = film.get("titre") %}
      {% else %}
        {% set title = image.title %}
      {% endif %}
      <p class="center">
        <img src="{{ asset(image.filename, "files") }}" alt="{{ title }}" title="{{ title }}"
          {%- if imageinfo(image.filename).portrait %}
          style="max-width: 55%"
          {% endif %}
        />
      </p>
    {% endfor %}
    {% endif %}

    {% if film.video is defined %}
      {% if film.video.thumbnail is defined %}
      <div id="video-{{ film.slug }}" class="video" data-embed="{{ film.video.html | base64 }}">
        <div class="video__play-button"></div>
      </div>
      {% else %}
        {% if film.video.url is defined %}
      <p class="center">
        <a href="{{ film.video.url }}" target="_blank" rel="noreferrer noopener">Voir la bande-annonce</a>
      </p>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if film.video_embed is not empty %}
      <p class="center">{{ film.video_embed|raw }}</p>
    {% endif %}

    <section class="prog-film__seances">
      {% if seances[film.id] is defined %}
        <ul>
        {% for seance in seances[film.id] %}
          <li class="prog-film__seance">
            <span class="prog-film__horaire">{{ seance.horaire is empty ? ""
              : seance.horaire|fr_datetime|capitalize }}</span>
            {% if lieux[seance.lieu] is defined %}
            <span class="prog-film__lieu">{{ lieux[seance.lieu].nom ?? lieux[seance.lieu].commune }}</span>
            {% endif %}
            {% if seance.intervenants is not empty %}
            <span class="prog-film__intervenants">
              (en présence de
              {% for intervenant in seance.intervenants %}
                {% set id_intervenant = intervenant.getRenderedValue("intervenant") %}
                {% if intervenants[id_intervenant] is defined %}
                  {% set personne = intervenants[id_intervenant] %}
                  {%- if loop.last and loop.index > 1 %} et {% endif -%}
                  {{ (personne.prenom ~ " " ~ personne.nom)|trim }}, {{ intervenant.getRenderedValue("role") }}
                  {%- if not loop.last %}, {% endif -%}
                {% endif %}
              {%- endfor -%}
              )
            </span>{% endif %}
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>(Aucune séance pour ce film)</p>
      {% endif %}
    </section>

  </article>
  {% endfor %}

  <script>
  var videos = document.querySelectorAll(".video");
  for (var i = 0; i < videos.length; i++) {
    videos[i].addEventListener("click", function () {
      var html = atob(this.dataset.embed);
      this.innerHTML = html;
    });
  }
  </script>
</section>
{% endblock %}
