{% block main %}
{% if app.config.get("general/cacher_programmation_festival") %}
<p class="italic center smaller">(Programmation en cours…)</p>
{% else %}
  {% for intervenant in intervenants %}
  {% if seances[intervenant.id] is defined %}
  <article class="intervenant">
    <header class="intervenant__header">
      <h2 class="intervenant__nom">{{ intervenant.get("prenom") }} {{ intervenant.get("nom") }}</h2>
      {% if seances[intervenant.id] is defined %}
      <span class="intervenant__roles">
        {{ roles[intervenant.id] | uniq | join(", ") }}
      </span>
      {% endif %}
    </header>
    {% if seances is not empty %}
    <ul class="intervenant__seances">
      {% for seance in seances[intervenant.id] %}
      <li>
        {% if seance.films %}
          <span class="intervenant__seance-titre">
          {% for film in seance.films %}
          {% if films[film] is defined %}{{ films[film].titre }}
            {%- if not loop.last %} / {% endif %}
          {% endif %}
          {%- endfor -%}
        </span>,
        {% elseif seance.speciale_intitule %}
          <span class="intervenant__seance-intitule">
          {{ seance.speciale_intitule -}}
          </span>,
        {% endif %}
        <span class="intervenant__seance-horaire">{{ seance.horaire | fr_datetime }}</span>
        {% if lieux[seance.lieu] is defined %}
        <span class="intervenant__seance-lieu">({{ lieux[seance.lieu].get("nom") ?? lieux[seance.lieu].get("commune") }})</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </article>
  {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
