{% extends "programmation/reseau.seances.twig" %}

{% block archives %}{% endblock %}

{% block localstyles %}
.seance__lieu {
  color: #444;
}
{% endblock %}

{% block intro %}
    <h1>Les séances passées</h1>
{% endblock %}

{% block main %}
    <div class="seances-archives">
      {{ parent() }}
    </div>
{% endblock %}

{% block calendrier %}{% endblock %}
