{% extends "programmation/reseau.base.twig" %}

{% setcontent record = "reso_pages/accueil" %}

{% block intro %}
<h1>{{ record.title }}</h1>
{% endblock %}

{% block main %}
{{ record.contenu }}
{% endblock %}
