{% extends "programmation/reseau.base.twig" %}

{% block intro %}
{% set in_archives = (block('archives') is defined) %}
{% if in_archives %}
<h1>Les séances passées</h1>
{% else %}
<h1>Les séances à venir</h1>
{% endif %}
{% endblock %}

{% block main %}

{% block calendrier %}
<aside class="calendrier">
  <!-- Ahem, plus tard? -->
</aside>
{% endblock %}

{% set in_archives = (block('archives') is defined) %}

<section class="seances">
  {% set precedent_mois = null %}
  {% set mois = null %}
  {% for seance in seances %}
  {% if seance.films %}

  {% if mois %}
  {% set precedent_mois = mois %}
  {% endif %}
  {% set mois = seance.horaire|date("Y-m") %}
  {% if not precedent_mois or mois != precedent_mois %}
    {% if not in_archives %}
    <h2 class="seances__mois">{{ mois|fr_datemonth|capitalize }}</h2>
    {% endif %}
  {% endif %}
  <div class="seance">
    <header class="seance__header">
      {% if not in_archives %}
        <span class="seance__lieu">{{ lieux[seance.lieu].commune }}</span>
        <span class="seance__date">{{ seance.horaire|fr_datetime }}</span>
      {% else %}
        <span class="seance__lieu">{{ lieux[seance.lieu].commune }}</span>
        <span class="seance__date">le {{ seance.horaire|fr_date }}</span>
      {% endif %}
    </header>
    <div class="seance__films">
    {% for id in seance.films %}
      {% if films[id] is defined %}
      {% if not in_archives %}
        <a href="{{ mount_point }}/films#film-{{ films[id].slug }}"><cite>{{ films[id].titre }}</cite></a>
      {%- else %}
        <cite>{{ films[id].titre }}</cite>
      {%- endif %}

      {%- if not loop.last %}, {% endif %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</section>
{% endblock %}
