{% extends "programmation/reseau.base.twig" %}

{% use "programmation/films.twig" %}

{% block intro %}
<h1>Les films</h1>
<script>
  window.addEventListener("hashchange", event => {
    alert(event);
  });
</script>
{% endblock %}
