{% extends 'programmation/reseau.base.twig' %}

{% block main %}
  <ul class="lieux group">
    {% for lieu in lieux %}
    <li>
      <a class="lieux__lieu" href="{{ mount_point }}/lieux/{{ lieu.slug }}"
       {%- if lieu.image %} style="background-image:url({{ lieu.image|thumbnail(180, 0) }})"{% endif %}>{{ lieu.commune }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
