@import "../variables";

.admin-grille {
  td, th {
    padding: 1em;
    border: 1px solid $gray;
  }

  &__seance {
    display: block;
    padding: .5em;
    border: 1px solid $gray;
    background: $very-light-gray;

    &:hover {
      text-decoration: none;
      background: white;
    }
  }

  &__film {
    font-style: italic;
    font-weight: normal;
  }

  &__speciale {
    font-weight: normal;
  }

  &__ajouter {
    display: block;
    padding: 0.3em 1.5em;
    width: 100%;
    background-color: $ccc-green-dark;
    border: none;
    border-radius: .2em;
    color: $white !important;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

.admin-reseau {
  a.button {
    color: $white !important;
    display: inline-block;
    text-align: center;
    height: 2em;
    line-height: 2em;
    width: 2em;
    background-color: $ccc-green-dark;
    border: none;
    border-radius: .2em;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}
