.texte {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000}
.textegras { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000 ; font-weight: bold}
.textegrasbleu { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #0055a6; font-weight: bold }
.textebleu { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #0055a6}
.texteblanc { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF}
.textegrasblanc { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; font-weight: bold }
a:active {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #0055A6; text-decoration: none}
a:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #0055a6; text-decoration: underline; background-color: #99bbdb}
a:link { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #0055A6; text-decoration: none }
a:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #0055a6; text-decoration: none }
.titrebleu { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #0055a6; font-weight: bold }
.minitexte { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000 }
.citations { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999; font-style: italic; line-height: 20pt; text-align: center}
.minitextegras { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000 ; font-weight: bold}
.minitextebleu { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #0055a6}
