html.festival {
  background-image: url(../../img/bg_festival.jpg);
  background-color: darken(map-get($section-colors, "festival"), 10%);

  .intro-wrapper {
    background: rgba(map-get($section-colors, "festival"), .7);
    background: rgba(#000, .4);
    // background: none;
  }

  .main-nav__menu-item, .wysiwyg-content a:not(.button) {
    color: darken(map-get($section-colors, "festival"), 10%);

    &:hover {
      color: map-get($section-colors, "festival");
    }
  }

  .prog-film__lieu {
    color: map-get($section-colors, "festival");
  }

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background-color: darken(map-get($section-colors, "festival"), 10%);
    border-color: darken(map-get($section-colors, "festival"), 10%);

    &:hover {
      background-color: map-get($section-colors, "festival");
      border-color: map-get($section-colors, "festival");
    }
  }
}

html.reseau {
  background-image: url(../../img/corniche-des-cevennes.jpg);
  background-position: center -230px;
  background-color: darken(map-get($section-colors, "reseau"), 10%);

  .intro-wrapper {
    background: rgba(map-get($section-colors, "reseau"), .7);
    background: rgba(#000, .4);
    // background: none;
  }

  .prog-film__lieu {
    color: map-get($section-colors, "reseau");
  }

  .main-nav__menu-item, .wysiwyg-content a {
    color: darken(map-get($section-colors, "reseau"), 15%);

    &:hover {
      color: map-get($section-colors, "reseau");
    }
  }

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background-color: darken(map-get($section-colors, "reseau"), 10%);
    border-color: darken(map-get($section-colors, "reseau"), 10%);

    &:hover {
      background-color: map-get($section-colors, "reseau");
      border-color: map-get($section-colors, "reseau");

    }
  }
}

html.production {
  background-color: darken(map-get($section-colors, "production"), 20%);
  background-image: url(../../img/doc-cevennes-hollywood.jpg);
  background-size: cover;

  .main-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .main-nav__menu-item, .wysiwyg-content a, .listing a {
    color: darken(map-get($section-colors, "production"), 10%);

    &:hover {
      color: map-get($section-colors, "production");
    }
  }
}

html.association {
  background: darken(map-get($section-colors, "association"), 30%);

  .main-nav__menu-item, .wysiwyg-content a {
    color: darken(map-get($section-colors, "association"), 35%);

    &:hover {
      color: darken(map-get($section-colors, "association"), 10%);
    }
  }

  .wysiwyg-content a {
    font-weight: bold;
    text-decoration: underline;
  }
}
