@import "../variables";

.intro-wrapper {
  background: rgba($festival2017-red-dark, $intro-wrapper-opacity);
}

.homepage-annonce {
  top: 8em;
  @media (max-width: $bk-home-small) {
    top: 9em;
  }
}

.accueil-intro {
  &__heading {
    margin: 0;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.6em;
    color: $white;
    hyphens: none;

    .homepage & {
      font-family: "aaarghnormal";
    }
  }

  &__title {
    font-variant: small-caps;
  }

  &__dates {
    font-size: 1.5em;
  }

  &__annule {
    color: #c00;
    font-weight: normal;
  }

  &__programmation {
    background-color: map-get($section-colors, "festival");
    border-color: map-get($section-colors, "festival");
    font-size: 0.9em;

    &:hover {
      background-color: lighten(map-get($section-colors, "festival"), 10%);
      border-color: lighten(map-get($section-colors, "festival"), 10%);
      text-decoration: none;
    }
  }

  // Homepage

  &__l-festival {
    text-transform: uppercase;
    font-size: 2em;
    @media (min-width: $breakpoint-medium) {
      letter-spacing: 0.3em;
    }
    margin-right: -0.3em;
    transform: scaleX(1.2);
  }

  &__l-inter-docu {
    text-transform: uppercase;
    font-size: 0.861em;
    transform: scaleY(0.7);
  }

  &__l-lasalle {
    font-size: 1.4em;
    letter-spacing: 0.09em;
    margin-right: -.05em;
    font-weight: normal;
  }

  &__l-18e {
    font-size: .7em;
    font-weight: normal;
  }

  &__l-dates {
    display: inline;
    font-size: .9em;
  }
}

.wysiwyg-content {
  img {
    margin: .2em $global-spacing;

    @media (max-width: 400px) {
      float: none !important;
      display: block;
      margin: $global-spacing auto !important;
    }
  }
}


// .e-acute {
//   position: relative;

//   &::after {
//     content: "´";
//     position: absolute;
//     left: 0;
//     top: 0.05em;
//     line-height: 1;
//   }
// }
