.fest-prog-intro {
  $align: center;
  &__title {
    margin: 0;
    text-align: $align !important;
  }

  &__submenu {
    padding-top: 1em;
    text-align: $align;
  }

  &__submenu-item {
    padding: 0 1em;
    color: $white;

    &.is-active {
      text-decoration: underline;
    }
    &:hover {
      color: $white;
    }
  }
}
