@import "../variables";

.homepage-annonce {
  h1 {
    margin-top: 0;
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  .button {
    text-shadow: none;
    background-color: darken(map-get($section-colors, "reseau"), 10%);
    border-color: darken(map-get($section-colors, "reseau"), 10%);
    box-shadow: 0 0 1em $dark-gray;
    font-size: .9em;

    &:hover {
      background-color: map-get($section-colors, "reseau");
      border-color: map-get($section-colors, "reseau");
    }
  }
}
