.reseau .list {
  li {
    list-style: none;
    margin: 0.5em 0;

    &::before {
      content: "• ";
      color: $ccc-pink;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

}
