.boring-menu {
  display: flex;
  align-items: center;

  &__item {
    margin: 0.5em 0.8em;
    color: white;

    &:hover {
      color: white;
    }

    &.facebook {
      line-height: 0;
    }
  }
}
