.download-page {
  &__title {
    text-align: center;
  }

  ul {
    padding: 0;
    display: flex;
  }

  li {
    flex-basis: 50%;
    list-style-type: none;
    text-align: center;
  }

  .bg-grille-horaire {
    background-image: url(/files/bg-grille.png);
    background-position: center top;
    background-size: 80%;
  }

  .bg-catalogue {
    background-image: url(/files/bg-catalogue.png);
    background-position: center top;
    background-size: cover;
  }

  li > a {
    display: block;
    height: 100%;
    padding: 2em;
    border: 2px solid $medium-gray;
    font-weight: bold;
    color: $black;
    background: rgba($medium-gray, .5);
    text-shadow: 0 0 0.2em #fff;

    &:hover {
      background: rgba($medium-gray, .8);
      color: $white;
      text-decoration: none;
      text-shadow: 0 0 0.1em $dark-gray;
    }
  }
}
