.footer-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: $z-index-footer;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: $global-spacing;
  font-size: .9em;
  background: $black;
}

html {
  padding-bottom: 2.4em;
}

html.homepage {
  padding: 0;
}

.homepage .footer-wrapper {
  position: relative;
  margin-top: 0;
  justify-content: center;
}

@media (max-width: $breakpoint-footer) {
  .footer-wrapper {
    flex-wrap: wrap;
  }

  .root-menu, .boring-menu {
    flex-basis: 100%;
    justify-content: center;
  }

  html {
    padding-bottom: 4.8em;
  }
}
