.page-formulaire-inscription {

  h1 {
    text-align: center;
    border-bottom: 1px solid #000;
  }

  .headline {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: #c00;
  }

  h2 {
    font-size: 1.25em;
    background-color: #975693;
    padding: .2em .4em;
    color: #fff;
  }

  input:required:invalid {
    box-shadow: -.1em 0 0 #c00;
  }

  span.required::before {
    content: "* ";
    color: #c00;
  }

  .final-fieldset {
    font-weight: normal;
    margin-top: 1em;
    padding: 1em;
  }

  .summary {
    font-size: .8em;
    border: 1px solid #aaa;

    & > header {
      border-bottom: 1px solid #888;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .feedback {
    margin: 1em;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    background-color: #777;

    a {
      color: #fff !important;
      text-decoration: underline;
    }

    &--success {
      background-color: #1c9f1c;
    }

    &--fail {
      background-color: #ca2424;
    }
  }
}

.formulaire-inscription {
  label {
    display: flex;
    flex-direction: column;
  }

  label.inline {
    flex-direction: row;
    align-items: baseline;
  }

  label.inline input {
    margin-left: .5em;
  }
}

