.grille {
  margin-bottom: 1em;
  text-align: left;
  font-size: 0.9em;

  td, th {
    background-color: $white;
    border: 1px solid $gray;
  }

  thead th:first-child {
    border-top: none;
    border-left: none;
    background: transparent;
  }

  &__cellule {
    vertical-align: top;
  }

  &__lieu, &__jour {
    text-align: center;
  }

  &__seance {
    display: flex;
    margin-bottom: .25em;
  }

  &__films {
    margin-bottom: .05em;
  }

  &__horaire {
    font-weight: bold;
    padding-right: .5em;
  }

  &__film {
    font-style: italic;
  }

  &__auteurs {
    font-size: 0.9em;
  }

  &__gratuit, &__visio {
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: bold;
    color: map-get($section-colors, "festival");
  }

  &__sourds {
    float: left;
    margin-right: .2em;
  }
}
