.homepage {
  background-position: center top;
  background-color: darken($olive, 10%);

  .site-container {
    margin: auto;
  }

  a {
    color: white;
  }
}

.homepage-title {
  text-align: center;
  background-color: rgba(0,0,0,.5);
  padding: 1em;
  position: fixed;
  z-index: $z-home-header;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
  // @include borders-dev;

  & a {
    pointer-events: auto;
  }

  @media (max-width: $bk-home-medium) {
    position: absolute;
  }

  &__left, &__center, &__right {
    flex: 1;
    display: flex;
    align-items: center;

    @media (max-width: 1000px){//$breakpoint-medium) {
      flex-grow: 1;
      flex-basis: auto;
    }
  }

  @media (max-width: $bk-home-small) {
    &__center {
      order: 1;
      flex-basis: 100%;
      margin-bottom: $global-spacing;
    }

    &__left, &__right {
      order: 2;
      flex-basis: 50%;
    }
  }

  &__left {
    justify-content: flex-start;
  }
  &__center {
    justify-content: center;
  }
  &__right {
    justify-content: flex-end;
  }

  &.progressive {
    background: linear-gradient(to bottom, rgba(0,0,0,.5) 40%, transparent 90%);
  padding-bottom: 9em;
  }

  &__heading {
    margin: 0;
    line-height: 0;
  }

  &__logo-ccc {
    width: 200px;
    height: auto;
  }
}

.homepage-intro {
  height: (100vh - $homepage-sections-abovethefold);
  position: relative;
  overflow-x: hidden;
}

.homepage-association {
  position: absolute;
  bottom: 0.7em;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  text-shadow: 0 0 .5em $black;
}

.homepage-poster {
  position: fixed;
  z-index: $z-home-poster;
  height: 100%;
  width: 100%;

  @media (max-width: $bk-home-small) {
    position: absolute;
  }
}

.homepage-annonce {
  position: absolute;
  z-index: 0;
  top: 12em;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 0.5em $black;
  color: $white;
  text-align: center;

  @media (max-width: $bk-home-small) {
    top: 15em;
  }
}

.homepage-text {
  position: relative;
  z-index: $z-home-text;
  background: $white;
  padding: (2 * $global-spacing);

  a {
    color: $ccc-purple;
  }
}

.homepage-sections {
  display: flex;
  justify-content: stretch;
  position: relative;
  z-index: $z-home-sections;
  box-shadow: 0 0 5em rgba($black, .8);

  @media (max-width: $bk-home-small) {
    flex-direction: column;
  }
}

.homepage-section {
  flex: 1;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: $z-home-sections;
  height: $homepage-section-height;
  // height: 175px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 1em 0 1em $black;

  @media (max-width: $bk-home-small) {
    display: block;
  }

  &__link {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background-color: rgba($black, .5);
    font-weight: bold;
    font-size: 1.3em;
    color: $white;
    letter-spacing: 0.03em;

    @media (max-width: $bk-home-small) {
      height: 10em;
    }

    &:hover {
      color: $white;
      background-color: rgba($black, .2);
      text-shadow: 0 0 1.5em #000;
      text-decoration: none;

      .homepage-section__text {
        transform: translateY($homepage-sections-abovethefold / 2 - 2vh);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: $homepage-sections-abovethefold;
    line-height: $homepage-sections-abovethefold;
    font-size: 2em;
    text-align: center;
    color: $white;
    background: gray url(../../src/svg/down_arrow_s.svg) no-repeat center center;
    opacity: 0.8;
    pointer-events: none;
  }

  @each $section, $color in $section-colors {
    &.#{$section}::before {
      background-color: $color;
    }
  }

  @each $section, $image in $section-images {
    &.#{$section} {
      background-image: $image;
    }
  }

  &.festival::before {
    background-color: #e484a9;
  }

  &.reseau::before {
    background-color: #71b8a6;
  }

  &__image {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .festival & {
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  &__text {
    width: 100%;
    text-align: center;
    transform: translateY($homepage-sections-abovethefold / 2);
    transition: $transition-duration transform;
  }
}
