.intervenant {
  margin-bottom: $global-spacing;
  position: relative;

  &__nom {
    display: inline;
    font-size: 1.2em;
  }

  &__roles::before {
    content: " / ";
    color: $dark-gray;
  }

  &__seances {
    margin-top: 0;
    margin-left: $global-spacing / 2;
    padding-left: $global-spacing / 2;
    border-left: 3px solid $gray;
    list-style: none !important;
    font-size: 0.9em;
  }

  &__seance-titre {
    font-style: italic;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background: map-get($section-colors, "festival");
    top: 1em;
    transform: translate(-1.1em, -100%);
  }
}
