.lieu {
  &__nom {
    margin-bottom: 1em;

    &::before {
      content: "";
      display: inline-block;
      width: 0.7em;
      height: 0.7em;
      margin-right: 0.3em;
      background: map-get($section-colors, "reseau");
    }
  }

  &__image {
    float: right;
    margin-bottom: .1em;
    margin-left: 1em;
  }

  &__descriptif {
    text-align: justify;
    hyphens: auto;
  }

  &__titre-seances, h2 {
    font-size: 1.2em;
  }

  &__aucune-seance {
    font-style: italic;
  }

  &__seances {
    padding: 0;
  }

  &__seance {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &::before {
      content: "– ";
    }
  }
}
