.lieux {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    margin: 0;
  }

  &__lieu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10em;
    margin: ($global-spacing / 2);
    height: 5em;
    border: 1px solid gray;
    background-color: $almost-black;
    box-shadow: 0 0.5em 1em -0.5em $dark-gray;
    color: $white;
    font-weight: bold;
    text-shadow: 0 0 .1em #000;
    background-size: cover;
    background-position: center;

    &:hover {
      color: white;
      text-decoration: none;
      opacity: 0.8;
    }

  }

  &--festival &__lieu {
    font-size: 1.25em;
    width: 15em;
    height: 7.5em;
  }
}
