.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  /* <large> */
  &__homepage {
    float: left;
    margin-left: -200px; /* Largeur du logo */
  }
  /* </large> */

  :hover > &__logo {
    filter: drop-shadow(0px 3px 3px #ccc);
  }

  &__section {
    display: block;
    margin-left: $global-spacing;
    white-space: nowrap;
    line-height: 35px;
    font-weight: bold;
    color: $black;
    text-transform: uppercase;
    transform: translateX(0);
    transition: .2s transform;
    position: relative;

    &:hover {
      color: $black;
    }

    &::before {
      content: "› ";
      position: absolute;
      left: (-$global-spacing / 2);
      transform: translateX(-50%);
      cursor: default;
      pointer-events: none;
    }
  }

  &__menu {
    display: flex;
    margin-left: $global-spacing * .75;
    flex-grow: 1;
  }

  &__menu-item, &__no-menu {
    flex-grow: 1;
    text-align: center;
    padding: $global-spacing 0;
    font-size: .95em;
    $stop: 5%;

    &:hover, &.is-active {
      color: darken($primary-color, 15%);
      text-decoration: none;
      background: linear-gradient(
        to top,
        currentColor $stop,
        transparent $stop
      );
    }
  }

  &__no-menu {
    visibility: hidden;
    box-sizing: content-box;
  }

  /* <medium> */
  @media (max-width: $breakpoint-medium) {
    padding: $global-spacing $global-spacing 0;

    &__homepage {
      margin-left: 0;
    }
    &__menu {
      flex-basis: 100%;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-left: 0;
    }
    &__menu-item {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
  }

  @media (max-width: $breakpoint-menu-wrap) {
    padding: 0;

    &__homepage {
      padding-top: $global-spacing;
    }
    &__homepage, &__section {
      flex-basis: 100%;
      text-align: center;
      margin: 0;
    }

    &__section {
      font-size: 1.2em;

      ::before {
        content: none;
      }
    }

    &__no-menu {
      padding: 0;
    }

    &__menu-item {
      padding-top: ($global-spacing / 2);
      padding-bottom: ($global-spacing / 2);
    }

  }
  /* </medium> */

  &__english-link {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%);
    padding: 1.25em;
    font-size: 0.9em;
    font-style: italic;
    color: $black;

    &::before {
      content: "→ ";
    }

    &:hover, &.is-active {
      color: $dark-gray;
      text-decoration: underline;
    }

    &.is-active {
      text-decoration: none;
    }

    @media (max-width: $breakpoint-medium) {
      transform: translate(-2em);
    }

    @media (max-width: $breakpoint-menu-wrap) {
      transform: translate(0);
    }
  }
}
