.nav-archives {
    padding-top: 1em;
    min-width: 15em;

    &__item {
      color: $white;
      padding: 0 0.5em;

      &:hover {
        text-decoration: underline;
        color: $white;
      }
    }
}

html.festival.archives {
  background: #333;
}

html.archives .main-content {
  max-width: none;
  background: $black;
}

html.archives .intro-content {
  max-width: none;
  text-align: center;
}

.archives-presentation {
  max-width: $content-width;
  margin: auto;
}

.archives-iframe {
  height: 750px;
  border: 1px solid $gray;
  background-color: $white;
}
