.partenaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    width: 150px;
    margin: $global-spacing / 2;

    & > img {
      display: block;
      margin: auto;
    }
  }
}
