.prod-film {
  margin-bottom: 2 * $global-spacing;
  margin-top: $global-spacing;
  padding: $global-spacing;
  background-color: $white;
  border: 0 solid map-get($section-colors, "production");
  border-left-width: 4px;
  box-shadow: 0 1em 1em -1em $black;

  h1, h2 {
    margin-top: 0;
  }

  &__titre {
    // margin: 0;
    margin-bottom: 0.2em;
  }

  &__auteurs {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1.3em;
    color: $dark-gray;
  }

  p {
    margin-bottom: 0;
    hyphens: auto;
    text-align: justify;
  }

  &__plus {
    display: block;
    margin-top: ($global-spacing / 2);
    margin-left: ($global-spacing / 2);
    font-weight: bold;

    &::before {
      content: "» ";
    }
  }

  &__annee {
    font-size: 0.8em;
    font-weight: normal;
  }

  &__image-listing {
    float: right;
    margin-left: $global-spacing;
    margin-bottom: .1em;
  }

  &__infos {
    @extend .prog-film__infos;
  }

  &__image {
    float: right;
    margin-left: $global-spacing;
    margin-bottom: .1em;

    @media (max-width: $breakpoint-menu-wrap) {
      float: none;
      text-align: center;
      margin-bottom: $global-spacing;
      margin-left: 0;
    }
  }

  &__galerie {
    margin-top: 1em;
    text-align: center;
  }

  &.en-construction {
    text-align: center;
    // font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
    background-color: $dark-gray;
    color: #fff;
    border-left: none;
    border: 1px solid darken($dark-gray, 10%);
    box-shadow: none;
  }
}
