.prog-film {
  border: 0 solid $gray;
  background: $white;
  border-left-width: 3px;
  padding: ($global-spacing / 2) $global-spacing;
  margin-bottom: $global-spacing;
  box-shadow: 0 0.5em 1em -0.5em $gray;

  &__header {
    font-size: 1.2em;
  }

  &__titre {
    display: inline;
    text-transform: uppercase;
    margin: 0;
    font-size: inherit;
  }

  &__auteurs::before {
    content: " / ";
    color: $dark-gray;
    orphans: 2;
  }

  &__texte {
    font-size: 0.9em;
  }

  &__infos {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      display: inline;

      &::after {
        content: " | ";
        color: $dark-gray;
      }

      &:last-child::after {
        content: "";
      }
    }
  }

  &__seances {
    & > ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  &__seance {
    font-weight: bold;

    &::before {
      content: "· ";
    }
  }

  &__lieu {
    text-transform: uppercase;

    &::before {
      content: " – ";
      color: $dark-gray;
    }
  }

  &__horaire {
    color: $black;
  }

  &__intervenants {
    font-weight: normal;
    // font-style: italic;
    font-size: 0.9em;
  }

}
