.root-menu {
  display: flex;
  align-items: center;

  &__item {
    padding: 0.5em 0.8em;
    font-weight: bold;
    color: $white;

    &:hover, &.is-active {
      color: $white;
      text-decoration: none;
    }

    @each $section, $color in $section-colors {
      &.#{$section} {

        &.is-active {
          background: linear-gradient(to bottom, $color 10%, transparent 10%);
        }

        &:not(.is-active):hover {
          background: linear-gradient(to bottom, rgba($color, .5) 10%, transparent 10%);
        }
      }
    }

  }
}
