.seance {
  padding: .5em 0 .5em 0;
  border-color: rgba(map-get($section-colors, "reseau"), .5);
  border-width: 1px 0 1px 2px;
  border-style: dotted solid;
  border: none;

  & + & {
    border-top-width: 0;
  }

  &__films {
    padding-left: ($global-spacing / 2);
    font-weight: bold;

    &::before {
      //content: "·"
    }
  }

  &__lieu {
    padding-right: 0.3em;
    text-transform: uppercase;
    font-weight: bold;
    color: map-get($section-colors, "reseau");
  }
}

.seances__mois {
  margin-bottom: .5em;
  padding-bottom: .1em;
  border-bottom: 0.2em solid lighten(map-get($section-colors, "reseau"), 10%);
  color: $almost-black;
}
