{% extends 'sections/production/base.twig' %}

{% block main %}
<div class="listing">
        {# This template is used for 'listings': Generic pages that list a number of
           records from a certain contenttype. These records are available as an array
           called 'records'. In the for-loop below, we iterate over the records that
           are on this page. It can be used for overview pages like 'all entries', or
           'all records tagged with kittens'. #}

        {# If used for listing a taxonomy, we add a heading.: #}
        {% if taxonomytype is defined %}
            <h1>
                {{ __('general.phrase.overview-for') }}
                {% if taxonomy.options[slug] is defined %}
                    {{ taxonomy.options[slug] }}
                {% else %}
                    {{ slug }}
                {% endif %}
            </h1>
            {# Taxonomies are fetched unordered by design except if 'has_sortorder'
               is set to true. This way we keep 'grouping' intact in the listing. #}
            {% if not taxonomy.has_sortorder %}
                {# If we specified an order in config.yml, sort them here, accordingly: #}
                {% set records = records|order(config.get('general/listing_sort')) %}
            {% endif %}
        {% endif %}

        <article class="prod-film en-construction">
          En cours de construction
        </article>

        {% for record in records %}
            <article class="prod-film group">
                <h2>
                    <a href="{{ record.link }}">{{ record.title }}</a>
                    {% if record.annee %}<span class="prod-film__annee">({{ record.annee }})</span>{% endif %}
                </h2>

                {% if record.images is not empty %}
                    <img class="prod-film__image-listing" src="{{ thumbnail(record.images|first, 130, 0) }}" alt="{{ record.title }}">
                {% endif %}

                <p>{{ record.texte|excerpt(380, false) }}</p>

                <a class="prod-film__plus" href="{{ record.link }}">En savoir plus</a>

            </article>

        {% else %}
            <article>

                <h2>{{ __('general.phrase.no-content-found') }}</h2>

                <p>
                    {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                </p>

            </article>
        {% endfor %}

        {# If there are more records than will fit on one page, the pager is shown. #}
        {{ pager(template = 'partials/_sub_pager.twig') }}
</div>
{% endblock main %}
