{% extends "sections/production/base.twig" %}

{% block localstyles %}
  html, body, .site-container, .main-wrapper {
    min-height: 100%;
  }
{% endblock %}

{% set film = record %}

{% block main %}
<div class="prod-film">
    {% if film.images is not empty %}
    <div class="prod-film__image">
      <img src="{{ film.images|first|image(200, 0) }}" width="200" alt="{{ film.titre }}" />
    </div>
    {% endif %}

    <h1 class="prod-film__titre">{{ film.titre }}</h1>
    <h2 class="prod-film__auteurs">{{ film.auteurs }}</h2>

    <ul class="prod-film__infos">
      {% if film.get("annee") %}<li>{{ film.get("annee") }}</li>{% endif %}
      {% if film.get("duree") %}<li>{{ film.get("duree") }}&nbsp;min</li>{% endif %}
      {% if film.get("pays") %}<li>{{ film.get("pays") }}</li>{% endif %}
      {% if film.get("production") %}<li>{{ film.get("production") }}</li>{% endif %}
    </ul>

    <div class="wysiwyg-content">
      {{ record.texte }}
    </div>

    {% if film.images|length > 1 %}
    <div class="prod-film__galerie">
      {% for image in film.images %}
      {{ image|first|popup }}
      {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
