.texte {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000}
.textegras { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000 ; font-weight: bold}
.texteblanc { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF}
.textegrasblanc { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; font-weight: bold }
a:active {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #A82024; text-decoration: none}
a:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #A82024; text-decoration: underline; background-color: #D38F91}
a:link { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #A82024; text-decoration: none }
a:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #A82024; text-decoration: none }
.minitexte { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000 }
.citations { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999; font-style: italic; line-height: 20pt; text-align: center}
.minitextegras { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000 ; font-weight: bold}
.minitexterouge { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #A82024}
.texterouge { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #A82024}
.textegrasrouge { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #A82024; font-weight: bold }
.titrerouge { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #A82024; font-weight: bold }
