.texte {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000}
.textegras { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000 ; font-weight: bold}
.texteblanc { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF}
.textegrasblanc { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; font-weight: bold }
a:active {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #B41C1A; text-decoration: none}
a:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #B41C1A; text-decoration: underline; background-color: #F5BC42}
a:link { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #B41C1A; text-decoration: none }
a:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #B41C1A; text-decoration: none }
.minitexte { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000 }
.citations { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999; font-style: italic; line-height: 20pt; text-align: center}
.minitextegras { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000 ; font-weight: bold}
.minitexterouge { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #B41C1A }
.texterouge { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #B41C1A}
.textegrasrouge { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #B41C1A; font-weight: bold }
.titrerouge { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #B41C1A; font-weight: bold }
