{% extends "sections/reseau/base.twig" %}

{% block localstyles %}
.main-content {
  max-width: none;
}
iframe {
  border: none;
  width: 100%;
  height: 100vh;
}
{% endblock %}
{% block main %}
  {% setcontent framadates = "reso_framadates" returnsingle %}
  {% for i, framadate in framadates.framadates %}
  <h2 id="frama-{{i}}">{{ framadate.get('nom') }}</h2>
  <iframe src="{{ framadate.get('url') }}"></iframe>
  {% endfor %}
{% endblock %}
