/* Bolt-specific stuff */

.callout {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.meta {
  color: #888;
  font-size: 0.9em;
}

ul.pagination li {
  list-style-type: none;
  display: inline;
  color: #999;
}

ul.pagination li+li:before {
  content: " | ";
}
