fieldset.fieldset-inline {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;

    legend {
        display: table;
        float: left;
        margin: .5em 0;
        padding: 0;
        width: 100%;
    }

    legend + * {
        clear: both;
    }

    & label {
        margin-left: 1em;
        font-weight: normal;
        cursor: pointer;
    }

    fieldset {
        margin-left: 1em;
    }

    label:not(.no-inline) {
        display: inline-block;
    }
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}
