html {
  background-image:
    linear-gradient(darken($festival2017-red-light, 10%),
      $festival2017-red-dark,
      darken($festival2017-orange, 20%),
      $festival2017-red-dark,
      darken($festival2017-red-light, 10%));
  background-position: center top;

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-wrapper {
  // position: sticky; // Pose problème avec les ancres (remplacer par une solution flex ?)
  top: 0;
  z-index: $z-index-header;
  background: $white;
  border-bottom: 1px solid $gray;
}

.header-content, .main-content, .intro-content {
  max-width: $content-width;
  margin: auto;
}

.intro-content {
  color: white;
  padding: 2em 2rem;
  text-align: right;

  h1 {
    margin: 0;
  }
}

.intro-wrapper {
  background: rgba(black, $intro-wrapper-opacity);
}

.main-wrapper {
  background: rgba($white, .95);
}

.main-content {
  padding: $global-spacing;
}
