/* Sakura.css v1.0.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura
 */

/* Body */

html {
  font-size: 62.5%;
  font-family: $body-font;
}

body {
  font-size: 1.8rem;
  line-height: $body-line-height;
  color: $black;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  line-height: 1.1;
  font-family: $body-font;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

small, sub, sup {
  font-size: 75%;
}

hr {
  border-color: $dark-gray;
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover {
  color: lighten($primary-color, 20%);
  text-decoration: underline;
}

ul {
  padding-left: 1.4em;
}

li {
  margin-bottom: 0.2em;
}

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid $primary-color;
}

img {
  max-width: 100%;
  height: auto;
}


/* Pre and Code */

pre {
  background-color: $white;
  display: block;
  padding: 1em;
  overflow-x: auto;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: $white;
  white-space: pre-wrap;
}

pre>code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}


/* Tables */

table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 0.5em;
  border-bottom: 1px solid $white;
}


/* Buttons, forms and input */

input, textarea {
  border: 1px solid $black;
}

input:focus, textarea:focus {
  border: 1px solid $secondary-color;
}

textarea {
  width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: .3em .8em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: $secondary-color;
  color: #f9f9f9;
  border-radius: 0.2em;
  border: 1px solid $secondary-color;
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
}

.button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
  cursor: default;
  opacity: .5;
}

.button:focus, .button:hover, button:focus, button:hover, input[type="submit"]:focus, input[type="submit"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="button"]:focus, input[type="button"]:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  text-decoration: none;
  outline: 0;
}

textarea, select, input[type] {
  color: $black;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
}

textarea:focus, select:focus, input[type]:focus {
  border: 1px solid #2c8898;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #2c8898;
}

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
