.center {
  text-align: center !important;
}

.italic {
  font-style: italic !important;
}

.smaller {
  font-size: 0.9em !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.not-yet {
  cursor: not-allowed !important;
  opacity: .7 !important;
  $stripe-gap: 10px;
  $stripe-width: 5px;
  $stripe-color: rgba(gray, .3);
  background-image: repeating-linear-gradient(-45deg,
    transparent 0,
    transparent $stripe-gap, $stripe-color $stripe-gap,
    $stripe-color ($stripe-gap + $stripe-width), transparent ($stripe-gap + $stripe-width)) !important;
}

.placeholder-content {
  @extend .not-yet;
  // color: #800000;
  cursor: default !important;
  opacity: 1 !important;

  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }
}

.crop {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  img {
    visibility: hidden;
  }
}


.crop2, .crop-content {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
    left: 0px;
    top: 0px;
    z-index: -1;
}

.crop3 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.crop3-content {
    background: transparent;
    height: auto;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;

    &.video {
      top: 0;
    }
}

.flex-row {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}
