$very-light-gray: #f9fafb;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$gray: $medium-gray;
$dark-gray: #8a8a8a;
$almost-black: #444;
$black: #333;
$true-black: #000;
$white: #fefefe;
$bordeaux: #ad295d;
$blue: #2c8898;
$maroon: #85144b;
$olive: #3d9970;

$body-background: $white;
$body-color: $black;
$primary-color: $bordeaux;
$secondary-color: $blue;

$festival2017-orange: #eb7037;
$festival2017-red-light: #bc364f;
$festival2017-red-medium: #c40d4f;
$festival2017-red-dark: #9f1934;

$ccc-green-light: #c7d7ac;
$ccc-green-dark: #4b8647;
$ccc-pink: #e3649b;
$ccc-purple: #975693;
$ccc-blue: #5f84b7;
$ccc-orange: #f6be70;

$section-colors: (
  festival: $ccc-purple, // #e484a9, // ou $ccc-purple, ou $bordeaux, ou $festival2017-red-* ?
  reseau: lighten($ccc-green-dark, 10%), // #71b8a6, //,
  production: $ccc-blue, // #749fd4, // $ccc-blue,
  association: $dark-gray,
);

$section-images: (
  festival: url(../../img/accueil-festival.jpg),
  reseau: url(../../img/corniche-des-cevennes.jpg),
  production: url(../../img/doc-cevennes-hollywood.jpg),
  association: url(../../img/champ-contrechamp.png),
);

$body-font: "Titillium Web", sans-serif;
$body-line-height: 1.5;

$content-width: 45em;
$homepage-width: 35em;
$global-spacing: 2rem;
$intro-wrapper-opacity: 0.7;
$homepage-section-height: 40vh;
$homepage-sections-abovethefold: 10vh;

$z-index-header: 2;
$z-index-footer: 1;

$z-home-header: 1;
$z-home-poster: 0;
$z-home-sections: 3;
$z-home-text: 4;
$z-home-footer: 5;

$transition-duration: .2s;

// Breakpoints
$bk-home-small: 750px;
$bk-home-medium: 640px;
$breakpoint-medium: 78em;
$breakpoint-small: 320px;
$breakpoint-footer: 570px;
$breakpoint-menu-wrap: 550px;
