.wysiwyg-content {
  p {
    text-align: justify;
    hyphens: auto;
  }

  ul {
    list-style-type: none;
  }

  ul > li {
    position: relative;
  }

  ul > li::before {
    content: "";
    position: absolute;
    width: .5em;
    height: .5em;
    left: -1em;
    top: 0.6em;
    background: $ccc-purple;
  }

  ul > li.pink::before {
    background: $ccc-pink;
  }

  $heading-square-bullet-height: .7em;
  $heading-long-bullet-height: .5em;

  h2 {
    color: darken($ccc-blue, 25%);

    &::before {
      content: "";
      display: inline-block;
      width: $heading-long-bullet-height * 2.6;
      height: $heading-long-bullet-height;
      background: lighten($ccc-purple, 10%);
      margin-right: .5em;
    }
  }

  h2.inline {
    float: left;
    margin: 0;
    margin-right: 0.4em;
    line-height: $body-line-height;
    font-size: 1em;

    &::before {
      width: $heading-square-bullet-height;
      height: $heading-square-bullet-height;
    }
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: .2em;
  }

  h3 + p {
    margin-top: 0;
  }
}
