{# Page: NavSecondary > Extensions > Auth #}

{% extends "@bolt/_base/_page-nav.twig" %}

{% block page_nav 'Extensions' %}

{% block page_title %}
  ⚙ Séances
{% endblock page_title %}

{% block page_subtitle %}
  Réseau DOC-Cévennes
{% endblock page_subtitle %}

{% block page_main %}

<style>
{% include "dist/css/seances-festival.css" %}
</style>
<table class="admin-reseau dashboardlisting">
  <thead>
    <tr>
      <th><a class="button" target="_blank" href="/admin/editcontent/reso_seances/">+</a></th>
      <th>Ville</th>
      <th>Date</th>
      <th>Film(s)</th>
    </tr>
  </thead>
  <tbody>
    {% for seance in seances %}
    <tr>
      <td><a class="button" target="_blank" href="/admin/editcontent/reso_seances/{{ seance.id }}">⚙</a></td>
      <td>{{ lieux[seance.lieu].commune }}</td>
      <td>{{ seance.horaire|fr_datetime }}</td>
      <td>{% for film in seance.films %}
        {{ films[film].titre }}{% if not loop.last %}, {% endif %}
      {% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock page_main %}
