{# Page: NavSecondary > Extensions > Auth #}

{% extends "@bolt/_base/_page-nav.twig" %}

{% block page_nav 'Extensions' %}

{% block page_title %}
  ⚙ Grille horaire
{% endblock page_title %}

{% block page_subtitle %}
  Festival de Lasalle
{% endblock page_subtitle %}

{% block page_main %}

<style>
{% include "dist/css/seances-festival.css" %}
</style>

{% if sans_lieu_ou_horaire is not empty %}
<p><strong>Séances sans lieu ou sans horaire :</strong></p>
<ul>
  {% for seance in sans_lieu_ou_horaire %}
    <li>
      <a href="/admin/editcontent/fest_seances/{{ seance.id }}" target="_blank" data-seance-id="{{ seance.id }}" title="Séance {{ seance.id }}">
      {% if seance.speciale_intitule is not empty %}
        {{ seance.speciale_intitule }}
      {% endif %}

      {% if seance.films is not empty %}
        {% for film in seance.films %}
        {{ films[film].titre }}
        {% endfor %}
      {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %}

<table class="admin-grille">
<thead>
  <tr>
    <th><a href="/admin/editcontent/fest_seances" target="_blank" class="admin-grille__ajouter" title="Ajouter une séance">+</a></th>
    {% for jour in jours %}
    <th class="admin-grille__jour">{{ jour | fr_date }}</th>
    {% endfor %}
  </tr>
</thead>

{% for lieu, dates in grille %}
  <tr>
    <th class="admin-grille__lieu">{% if lieux[lieu] is defined %}{{ lieux[lieu].nom }}{% endif %}</th>

    {% for jour in jours %}
    <td class="admin-grille__cellule date-{{ jour }}">
      {% if dates[jour] is defined %}
      {% set date = jour %}
      {% set seances = dates[jour] %}
        {% for seance in seances %}
          <a href="/admin/editcontent/fest_seances/{{ seance.id }}" target="_blank" class="admin-grille__seance" data-seance-id="{{ seance.id }}" title="Séance {{ seance.id }}">
            <div class="admin-grille__horaire">{{ seance.horaire | fr_time }}</div>
            {% if seance.speciale_intitule %}
            <div class="admin-grille__speciale">{{ seance.speciale_intitule }}</div>
            {% else %}
            <div class="admin-grille__films">
              {% for film in seance.films %}
                <div class="admin-grille__film">{{ films[film].titre }}</div>
              {% endfor %}
            </div>
            {% endif %}
          </a>
        {% endfor %}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
{% endfor %}
</table>

<script>
  {% include "js/admin-grille.js" %}
</script>
{% endblock page_main %}
