{% extends "sections/association/base.twig" %}

{% block main %}
<div class="association-page">
    <h1 class="association-page__title">{{ record.title }}</h1>
    <div class="wysiwyg-content">
      {{ record.contenu }}
    </div>
</div>
{% endblock %}
