
div#menu {
	width: 180px;
	background-image: url();
	background-color: #cccccc; 
	font-family:Verdana, Arial, Helvetica, sans-serif;	
         }

div#menu ul {
	padding: 0;
	width: 180px;
	border:1px solid;
	margin:0px;
	background-color: #cccccc;	
            }


div#menu ul li {
	position:relative;
	list-style: none; 
	border-bottom:1px solid; 
	width:100%;
	background-color: #cccccc; 
               }

div#menu ul ul {
                position: absolute;
				width:100%;
                top: 0;
                left: 180px; 
               }  

div#menu li a {
               text-decoration: none; 
			   width:100%;
              } 

div#menu ul ul {
                position: absolute;
				width:100%;
                top: 0;
                left: 180px;
                display:none
               } 

div#menu ul.nav1 li.snav:hover ul.nav2,
div#menu ul.nav2 li.snav:hover ul.nav3 {
                                                  display:block;
                                                 }

div#menu a {
            color:#000000
			width:100%;
           }


div#menu li:hover {
                   background: #c3d5d5;
                  }

div#menu li.snav:hover {
                            background: #c3d5d5;
                           }


div#menu li.snav {
                      background: url(fleche.png) 95% 50% no-repeat;
                     }


div#menu li a {
               text-decoration: none;
               padding: 4px 0 4px 8px;
               display:block; border-left:
               8px solid #669999; width:164px
              }


div#menu li a:hover {
	border-left-color: #99cccc;
                    }
div#menu ul ul li a:hover {
                           border-left-color: #99cccc;
                          }
div#menu ul ul ul li a:hover {
                              border-left-color: #99cccc;
                             } 
