{% extends "sections/festival/base.twig" %}

{% block localstyles %}
{% include "dist/css/festival.accueil.css" %}
{% endblock %}

{% block intro %}
<header class="accueil-intro">
  {% include "partials/festival_annonce.twig" %}
</header>
{% endblock %}

{% block main %}
  <h1>{{ record.title }}</h1>
  <div class="wysiwyg-content">
    {% if record.image is not empty %}
    <div style="float: right; margin-left: 1em;">{{ record.image | showimage(200) }}</div>
    {% endif %}
    {{ record.contenu }}
  </div>
{% endblock %}
