<table style="text-align: left; border-collapse: collapse" cellpadding="5" border="1">
  <tbody>
    <tr>
      <th>Titre original</th>
      <td>{{ postdata["titre-original"] }}</td>
    </tr>
    <tr>
      <th>Titre français</th>
      <td>{{ postdata["titre-francais"] }}</td>
    </tr>
    <tr>
      <th>Premier film (produit)</th>
      <td>{{ postdata["premier-film"] ?? "?" }}</td>
    </tr>
    <tr>
      <th>Premier film long métrage (produit)</th>
      <td>{{ postdata["premier-film-long"] ?? "?" }}</td>
    </tr>
    <tr>
      <th>Année de production</th>
      <td>{{ postdata["annee-production"] }}</td>
    </tr>
    <tr>
      <th>Date de finition</th>
      <td>{{ postdata["date-finition"] }}</td>
    </tr>
    <tr><th colspan="2" style="text-align: center">Réalisateur / réalisatrice</th></tr>
    <tr>
      <th>NOM Prénom</th>
      <td>{{ postdata["real-nom"]|upper }} {{ postdata["real-prenom"]|capitalize }}</td>
    </tr>
    <tr>
      <th>Naissance</th>
      <td>{{ postdata["real-date-naissance"] }} ({{ postdata["real-lieu-naissance"] }})</td>
    </tr>
    <tr>
      <th>Adresse</th>
      <td>{{ postdata["real-adresse"] }}<br />
        {{ postdata["real-code-postal"] }} {{ postdata["real-ville"] }}<br />
        {{ postdata["real-pays"]|upper }}
      </td>
    </tr>
    <tr>
      <th>Téléphone</th>
      <td><a href="tel:{{ postdata["real-tel"] }}">{{ postdata["real-tel"] }}</a></td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><a href="mailto:{{ postdata["real-email"] }}">{{ postdata["real-email"] }}</a></td>
    </tr>
    <tr><th colspan="2" style="text-align: center">Fiche technique</th></tr>
    <tr>
      <th>Durée</th>
      <td>{{ postdata["duree"] }}</td>
    </tr>
    <tr>
      <th>Format</th>
      <td>{{ postdata["format"] ?? postdata["format-autre"] ?: "?" }}</td>
    </tr>
    <tr>
      <th>Résolution maximale disponible</th>
      <td>{{ postdata["resolution-maximale"] ?? postdata["resolution-maximale-autre"] ?? "?" }}</td>
    </tr>
    <tr>
      <th>Couleur</th>
      <td>{{ postdata["couleur"] ?? postdata["couleur"] ?? "?" }}</td>
    </tr>
    <tr>
      <th>Supports de diffusion (deux au minimum)</th>
      <td>{% set supports = [] %}
      {% if postdata["supports"] is defined %}
        {% set supports = postdata["supports"] %}
      {% endif %}
      {% if postdata["supports-autre"] is not empty %}
        {% set supports = supports|merge([postdata["supports-autre"]]) %}
      {%- endif -%}
      {{ supports|join(", ") }}</td>
    </tr>
    <tr>
      <th>Son</th>
      <td>{{ postdata["son"] ?? "?" }}</td>
    </tr>
    <tr>
      <th>Langue textes affichés</th>
      <td>{{ postdata["langue-textes-affiches"] }}</td>
    </tr>
    <tr>
      <th>Langue(s) originale(s)</th>
      <td>{{ postdata["langue-originale"] }}</td>
    </tr>
    <tr>
      <th>Langue(s) sous-titrage</th>
      <td>{% set langues = [] %}
      {% if postdata["langue-sous-titrage"] is defined %}
        {% set langues = postdata["langue-sous-titrage"] %}
      {% endif %}
      {% if postdata["langue-sous-titrage-autre"] is not empty %}
        {% set langues = langues|merge([postdata["langue-sous-titrage-autre"]]) %}
      {%- endif -%}
      {{ langues|join(", ") }}</td>
    </tr>
    <tr>
      <th>Accessibilité</th>
      <td>
      {% if postdata["accessibilite"] is defined %}
        {% set accessibilite = [] %}
        {% if "sous-titrage-sourds" in postdata["accessibilite"] %}
        {% set accessibilite = accessibilite|merge(["sous-titrage pour sourds et malentendants"]) %}
        {% endif %}
        {% if "audiodescription" in postdata["accessibilite"] %}
        {% set accessibilite = accessibilite|merge(["audio-description"]) %}
        {%- endif -%}
        {{ accessibilite|join(", ") }}
      {% endif %}
      </td>
    </tr>

    <tr><th colspan="2" style="text-align: center">Fiche film</th></tr>
    <tr>
      <th>Première projection publique</th>
      <td>{{ postdata["date-premiere-projection"] }} ({{ postdata["lieu-premiere-projection"] }})</td>
    </tr>
    <tr>
      <th>Programmation dans d’autres festivals</th>
      <td>{{ postdata["programmation-autres-festivals"]|split("\n")|join("<br />")|raw }}</td>
    </tr>
    <tr>
      <th>Diffusions télé</th>
      <td>{{ postdata["diffusions-tele"]|split("\n")|join("<br />")|raw }}</td>
    </tr>
    <tr>
      <th>Production</th>
      <td>{% if postdata["production"] is defined %}
        {{ postdata["production"]|join(", ") }}
      {% endif %}</td>
    </tr>
    <tr>
      <th>Organisme(s) de production</th>
      <td>{{ postdata["organisme-production"] }}</td>
    </tr>
    <tr>
      <th>Nom du producteur</th>
      <td>{{ postdata["nom-producteur"] }}</td>
    </tr>
    <tr>
      <th>Adresse</th>
      <td>{{ postdata["prod-adresse"] }}</td>
    </tr>
    <tr>
      <th>Téléphone</th>
      <td>{{ postdata["prod-tel"] }}</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><a href="mailto:{{ postdata["prod-email"] }}">{{ postdata["prod-email"] }}</a></td>
    </tr>
    <tr>
      <th>Organisme de distribution</th>
      <td>{{ postdata["organisme-distribution"] }}</td>
    </tr>
    <tr>
      <th>Adresse</th>
      <td>{{ postdata["distrib-adresse"] }}</td>
    </tr>
    <tr>
      <th>Téléphone</th>
      <td>{{ postdata["distrib-tel"] }}</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><a href="mailto:{{ postdata["distrib-email"] }}">{{ postdata["distrib-email"] }}</a></td>
    </tr>
    <tr>
      <th>Lien de visionnage</th>
      <td>
        <a href="{{ postdata["visionnage-lien"] }}">{{ postdata["visionnage-lien"] }}</a>
        ({% if postdata["visionnage-mdp"] is not empty -%}
        mot de passe : <code>{{ postdata["visionnage-mdp"] }}</code>
        {% else %}sans mot de passe{% endif %})
      </td>
    </tr>
  </tbody>
</table>
