{% extends "sections/festival/base.twig" %}

{% block localstyles %}
  .main-content {
    background: #fff;
  }
{% endblock %}

{% block main %}
<script async src="https://www.google.com/recaptcha/api.js"></script>
<div class="page-formulaire-inscription">
    <noscript>L’activation de JavaScript est nécessaire sur cette page, afin de protéger le formulaire d’inscription contre les robots.</noscript>
    <h1>Formulaire d’inscription en ligne</h1>
    <p class="headline">Les inscriptions seront closes le 17 février 2023</p>

    {% if feedback is defined %}
    <div class="feedback feedback--{{ feedback.class }}">
      {{ feedback.message|raw }}
      <br />
      {{ feedback.details|raw }}
    </div>
    {% endif %}

    {% if mail_body is defined %}
    <section class="summary">
      <header>Votre inscription</header>
      {{ mail_body|raw }}
    </section>
    {% endif %}

    <form method="POST" action="{{ app.request.requestUri }}" class="formulaire-inscription">
      <h2>Film</h2>

      <label>
        <span>Titre original dans la langue du pays de production</span>
        <input required type="text" name="titre-original" value="{{ postdata["titre-original"] ?? "" }}" />
      </label>

      <label>
        <span>Titre en français</span>
        <input type="text" name="titre-francais" value="{{ postdata["titre-francais"] ?? "" }}" />
      </label>

      <fieldset class="fieldset-inline">
        <legend>Premier film (produit)</legend>
        <label><input type="radio" name="premier-film" value="Oui" /> Oui</label>
        <label><input type="radio" name="premier-film" value="Non" /> Non</label>
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Premier film long métrage (produit)</legend>
        <label><input type="radio" name="premier-film-long" value="Oui" /> Oui</label>
        <label><input type="radio" name="premier-film-long" value="Non" /> Non</label>
      </fieldset>

      <div class="flex-row">
        <label>
          <span>Année de production</span>
          <input type="number" min="0" name="annee-production" value="{{ postdata["annee-production"] ?? current_year }}" />
        </label>

        <label>
          <span>Date de finition</span>
          <input type="text" name="date-finition" value="{{ postdata["date-finition"] ?? "" }}" />
        </label>
      </div>

      <h2>Réalisateur / réalisatrice</h2>

      <div class="flex-row">
        <label>
          <span>Nom</span>
          <input type="text" name="real-nom" value="{{ postdata["real-nom"] ?? "" }}" />
        </label>

        <label>
          <span>Prénom</span>
          <input type="text" name="real-prenom" value="{{ postdata["real-prenom"] ?? "" }}" />
        </label>
      </div>

      <div class="flex-row">
        <label>
          <span>Date de naissance</span>
          <input type="date" name="real-date-naissance" value="{{ postdata["real-date-naissance"] ?? "" }}" />
        </label>

        <label style="flex-grow: 3">
          <span>Lieu de naissance</span>
          <input type="text" name="real-lieu-naissance" value="{{ postdata["real-lieu-naissance"] ?? "" }}" />
        </label>
      </div>

      <label>
        <span>Adresse personnelle</span>
        <input type="text" name="real-adresse" value="{{ postdata["real-adresse"] ?? "" }}" />
      </label>

      <div class="flex-row">
        <label>
          <span>Code postal</span>
          <input type="text" name="real-code-postal" value="{{ postdata["real-code-postal"] ?? "" }}" />
        </label>

        <label style="flex-grow: 3">
          <span>Ville</span>
          <input type="text" name="real-ville" value="{{ postdata["real-ville"] ?? "" }}" />
        </label>
      </div>

      <label>
        <span>Pays</span>
        <input type="text" name="real-pays" value="{{ postdata["real-pays"] ?? "" }}" />
      </label>

      <div class="flex-row">
        <label>
          <span>Téléphone</span>
          <input type="tel" name="real-tel" value="{{ postdata["real-tel"] ?? "" }}" />
        </label>

        <label>
          <span>E-mail</span>
          <input required type="email" name="real-email" value="{{ postdata["real-email"] ?? "" }}" />
        </label>
      </div>

      <h2>Fiche technique</h2>

      <label class="inline">
        <span>Durée</span>
        <input type="text" name="duree" pattern="[0-9]{1,2}[:][0-9]{1,2}" placeholder="HH:MM" value="{{ postdata["duree"] ?? "" }}" style="width: 5em" />
      </label>

      <fieldset class="fieldset-inline">
        <legend>Format</legend>
        <label><input type="radio" name="format" value="4:3" /> 4:3</label>
        <label><input type="radio" name="format" value="16:9" /> 16:9</label>
        <label><input type="radio" name="format" value="CinemaScope" /> CinemaScope</label>
        <label><input type="radio" name="format" value="Autre" /> autre (préciser) :</label>
        <label for="input-format-autre" style="display:none">Autre format</label>
        <input type="text" id="input-format-autre" name="format-autre" value="{{ postdata["format-autre"] ?? "" }}" style="width: 10em" />
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Résolution maximale disponible</legend>
        <label><input type="radio" name="resolution-maximale" value="1080p" /> 1080p</label>
        <label><input type="radio" name="resolution-maximale" value="2K" /> 2K</label>
        <label><input type="radio" name="resolution-maximale" value="4K" /> 4K</label>
        <label><input type="radio" name="resolution-maximale" value="Autre" /> autre (préciser) :</label>
        <label for="input-resolution-maximale-autre" style="display:none">Autre format</label>
        <input type="text" id="input-resolution-maximale-autre" name="resolution-maximale-autre" value="{{ postdata["resolution-maximale-autre"] ?? "" }}" style="width: 10em" />
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Couleur</legend>
        <label><input type="radio" name="couleur" value="N&amp;B" /> N&amp;B</label>
        <label><input type="radio" name="couleur" value="Couleur" /> Couleur</label>
        <label><input type="radio" name="couleur" value="Autre" /> autre (préciser) :</label>
        <label for="input-couleur-autre" style="display:none">Autre</label>
        <input type="text" id="input-couleur-autre" name="couleur-autre" value="{{ postdata["couleur-autre"] ?? "" }}" style="width: 10em" />
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Supports de diffusion (deux au minimum)</legend>
        <label><input type="checkbox" name="supports[]" value="Blu-Ray" /> Blu-Ray</label>
        <label><input type="checkbox" name="supports[]" value="DVD" /> DVD</label>
        <label><input type="checkbox" name="supports[]" value="DCP" /> DCP</label>
        <label><input type="checkbox" name="supports[]" value="Fichier numérique" /> Fichier numérique</label>
        <label for="input-supports-autre">Autre (préciser) :</label>
        <input type="text" id="input-supports-autre" name="supports-autre" value="{{ postdata["supports-autre"] ?? "" }}" style="width: 10em" />
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Son</legend>
        <label><input type="radio" name="son" value="Mono" /> Mono</label>
        <label><input type="radio" name="son" value="Stéréo" /> Stéréo</label>
        <label><input type="radio" name="son" value="5.1" /> 5.1</label>
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Langue</legend>

        <label class="no-inline">
          Textes affichés
          <input type="text" name="langue-textes-affiches" value="{{ postdata["langue-textes-affiches"] ?? "" }}" />
        </label>

        <label class="no-inline">
          Langue(s) originale(s)
          <input type="text" name="langue-originale" value="{{ postdata["langue-originale"] ?? "" }}" />
        </label>

        <fieldset class="fieldset-inline">
          <legend style="font-weight: normal">Langue(s) sous-titrage</legend>
          <label><input type="checkbox" name="langue-sous-titrage[]" value="Français" /> Français</label>
          <label><input type="checkbox" name="langue-sous-titrage[]" value="Anglais" /> Anglais</label>
          <label for="input-langue-sous-titrage-autre">Autre (préciser) :</label>
          <input type="text" id="input-langue-sous-titrage-autre" name="langue-sous-titrage-autre" value="{{ postdata["langue-sous-titrage-autre"] ?? "" }}" style="width: 10em" />
        </fieldset>
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Accessibilité</legend>
        <label>
          <input type="checkbox" name="accessibilite[]" value="sous-titrage-sourds" />
          sous-titrage pour sourds et malentendants
        </label>
        <label>
          <input type="checkbox" name="accessibilite[]" value="audiodescription" />
          audiodescription
        </label>
      </fieldset>

      <h2>Fiche film</h2>

      <fieldset class="fieldset-inline">
        <legend>Diffusion</legend>

        <label class="no-inline">
          Date de la première projection publique
          <input type="date" name="date-premiere-projection" value="{{ postdata["date-premiere-projection"] ?? "" }}" />
        </label>

        <label class="no-inline">
          Lieu de la première projection publique
          <input type="text" name="lieu-premiere-projection" value="{{ postdata["lieu-premiere-projection"] ?? "" }}" />
        </label>

        <label class="no-inline">
          Programmation dans d’autres festivals
          <textarea rows="5" name="programmation-autres-festivals" placeholder="Festival, Ville/Pays, Année
...">
            {{- postdata["programmation-autres-festivals"] ?? "" -}}
          </textarea>
        </label>

        <label class="no-inline">
          Diffusions télé
          <textarea rows="2" name="diffusions-tele" placeholder="Chaîne, Date
...">
            {{- postdata["diffusions-tele"] ?? "" -}}
          </textarea>
        </label>
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Production</legend>
        <label>
          <input type="checkbox" name="production[]" value="Autoproduction" /> Autoproduction
        </label>
        <label>
          <input type="checkbox" name="production[]" value="Production" /> Production
        </label>
        <label>
          <input type="checkbox" name="production[]" value="Film d’atelier" /> Film d’atelier
        </label>
        <label>
          <input type="checkbox" name="production[]" value="Film d’école" /> Film d’école
        </label>

        <label>
          <span>Organisme(s) de production</span>
          <input type="text" name="organisme-production" value="{{ postdata["organisme-production"] ?? "" }}" />
        </label>

        <label>
          <span>Nom du producteur </span>
          <input type="text" name="nom-producteur" value="{{ postdata["nom-producteur"] ?? "" }}" />
        </label>

        <label>
          <span>Adresse</span>
          <input type="text" name="prod-adresse" value="{{ postdata["prod-adresse"] ?? "" }}" />
        </label>

        <div class="flex-row">
          <label>
            <span>Téléphone</span>
            <input type="tel" name="prod-tel" value="{{ postdata["prod-tel"] ?? "" }}" />
          </label>

          <label>
            <span>E-mail</span>
            <input type="email" name="prod-email" value="{{ postdata["prod-email"] ?? "" }}" />
          </label>
        </div>
      </fieldset>

      <fieldset class="fieldset-inline">
        <legend>Distribution</legend>

        <label>
          <span>Organisme(s) de distribution</span>
          <input type="text" name="organisme-distribution" value="{{ postdata["organisme-distribution"] ?? "" }}" />
        </label>

        <label>
          <span>Adresse</span>
          <input type="text" name="distrib-adresse" value="{{ postdata["distrib-adresse"] ?? "" }}" />
        </label>

        <div class="flex-row">
          <label>
            <span>Téléphone</span>
            <input type="tel" name="distrib-tel" value="{{ postdata["distrib-tel"] ?? "" }}" />
          </label>

          <label>
            <span>E-mail</span>
            <input type="email" name="distrib-email" value="{{ postdata["distrib-email"] ?? "" }}" />
          </label>
        </div>
      </fieldset>

      <fieldset class="final-fieldset">
        <div class="flex-row">
          <label style="flex-grow: 3">
            <span>Adresse du lien pour visionnage </span>
            <input type="url" name="visionnage-lien" value="{{ postdata["visionnage-lien"] ?? "" }}" />
          </label>
          <label>
            <span style="font-weight: normal">Mot de passe</span>
            <input type="text" name="visionnage-mdp" value="{{ postdata["visionnage-mdp"] ?? "" }}" />
          </label>
        </div>

        <p>
          <strong>Si support : DVD ou Blu-Ray ou Carte SD ou clé USB (non retournés)</strong>
          <br />À adresser à :
        </p>
        <blockquote>Association CHAMP-CONTRECHAMP / DOC-CÉVENNES<br />
        58 RUE DE LA CROIX<br />
        30460 LASALLE</blockquote>

        <p>À réception de votre fiche d’inscription par l’équipe de DOC-CÉVENNES, un e-mail de confirmation vous sera adressé (adresse renseignée dans la section Réalisateur/Réalisatrice).</p>

        <p class="center">
          <script type="text/javascript">
            function onSubmitInscription(token) {
              document.querySelector(".formulaire-inscription").submit();
            }
          </script>
          <button
            class="g-recaptcha"
            data-sitekey="{{ recaptcha_site_key }}"
            data-callback="onSubmitInscription"
            data-action="submit">Envoyer le formulaire</button>
        </p>
      </fieldset>
    </form>
</div>
{% endblock %}
