{% extends "sections/festival/base.twig" %}

{% block main %}
<div class="festival-page">
    <h1 class="festival-page__title">{{ record.title }}</h1>
    <div class="wysiwyg-content">
      {{ record.contenu }}
    </div>
</div>
{% endblock %}
